#bg-image {
  position: relative;
  overflow: hidden;
  background-image: url(../img/automobiles_image_done_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 24%;
}

#convertables {
  position: relative;
  overflow: hidden;
  background-image: url(../img/shape_new_rectangle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 11%;
  height: auto;
}

.scroll_shape {
  position: absolute;
  top: 35%;
  left: 11.5%;
  background-color: red;
  width: 18%;
  height: 0px;
  border-radius: 10px 10px 150px 150px;
  animation: mymove 3s;
}

/*@keyframes mymove {
  from {height: 0px;}
  to {height: 500px;}
}
*/

#paragraph {
  position: relative;
  left: 160px;
  background-color: transparent;
  width: 250px;
  height: 250px;
  top: -50px;
}

.main {
  height: auto;
  width: 100%;
  position: relative;
}

.main .background_img {
  height: 100%;
  width: 100%;
}

.main .left {
  width: 50%;
  height: 65%;
  position: absolute;
  float: left;
  left: 0px;
  top: 24%;
  padding: 5px;
}

.main .left .heading_Parrent {
  width: 77%;
  height: auto;
  margin-left: 22%;
}

.main .left h1 {
  font-size: 4vw;
  font-family: Arial;
  color: black;
  background-color: #efd708;
  margin: 0;
  text-align: center;
}

.main .left .Paragraph {
  width: 80%;
  height: auto;
  margin-left: 10px;
  margin-top: 10px;
}

.main .left .Paragraph p {
  color: black;
  margin-top: 10%;
  padding: 10px;
  text-align: left;
}

/* Right side div css */

.main .right {
  width: 30%;
  height: 50%;

  position: absolute;
  float: right;
  left: 50%;
  top: 45%;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
}

.car {
  width: 30%;
  height: 30%;
  position: absolute;
  left: 35%;
  top: 120%;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
}

.car img {
  width: 100%;
  height: auto;
}

.car_new {
  width: 40%;
  height: 40%;
  position: absolute;
  left: -20%;
  top: 95%;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
}

.car_new img {
  width: 100%;
  height: auto;
}

.car_frame {
  position: relative;
  width: 30%;
  height: 60%;
  float: left;
  margin-top: 30%;
  background-color: transparent;
}

#car_frame_image {
  width: 100%;
  height: auto;
}

#car_frame {
  background-color: black;
}

.car_frame2 {
  width: 50%;
  height: 55%;
  position: absolute;
  float: left;
  left: 20%;
  top: 95%;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
  border-radius: 10px 10px 10px 10px;
  background-color: transparent;
}

.button_frame {
  width: 44%;
  height: 13%;
  position: absolute;
  left: 23.2%;
  top: 98.5%;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
  border-radius: 0px 0px 10px 10px;
  background-color: white;
}

.button_frame .one {
  color: black;
  background-color: #787878;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 5%;
  margin: auto;
}

.button_frame .two {
  color: black;
  background-color: #c1c1ff;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 30%;
  margin: auto;
}

.button_frame .three {
  color: black;
  background-color: #dedede;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 55%;
  margin: auto;
}

.button_frame .four {
  color: black;
  background-color: #f1f27a;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 80%;
  margin: auto;
}

#blink_selector_tag {
  position: absolute;
  height: 100%;
  width: 16%;
  top: 8%;
  left: 29.8%;
  border: solid 2px black;
  border-radius: 15px 15px 15px 15px;
}

#map_div {
  position: relative;
  height: 320px;
  width: 40%;
  float: right;
  top: 110px;
  left: 285px;
  margin-top: 56.5%;
  right: -20%;
  background-color: transparent;
}

#img_map {
  width: 100%;
  height: 100%;
}

#hand_up {
  position: absolute;
  top: 50%;
  left: 35%;
}

#new_frame {
  position: relative;
  background-color: transparent;
  left: -500px;
  width: 40%;
  height: 40%;
}

#new_frame_img {
  position: relative;
  width: auto;
  height: auto;
  top: 75px;
}

#hologram_light {
  position: relative;
  background-color: black;
  top: 720px;
  left: -230px;
}

#hologram_light_image {
  position: absolute;
  height: 150px;
  top: 200px;
  left: 150px;
}

.automobiles_text_haha {
  background-color: black;
}

#automobiles_animation_div_container {
  background-color: transparent;
}

#automobiles_animation_div {
  position: absolute;
  top: 45%;
}

@media only screen and (min-width: 5151px) and (max-width: 5400px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 107%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  .car_frame2 {
    width: 50%;
    height: 55%;
    left: 33%;
    top: 103%;
  }

  .car_frame2 img {
    width: 63%;
  }

  #convertables {
    width: 100%;
    padding-top: 29%;
  }

  #paragraph {
    left: 335px;
    width: 52%;
    top: -1150px;
  }

  #shape_button {
    font-size: 2.5vh;
    line-height: 94px;
  }

  #button_automobiles {
    left: 185%;
    top: -100px;
    height: 250px;
    width: 500px;
    border-radius: 150px 150px 150px 150px;
  }

  #automobiles_anchor {
    font-size: 40px;
  }

  .btn_perspective {
    left: 350px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -345px;
    width: 40%;
    height: 40%;
    top: 2600px;
  }

  #hologram_light_image {
    position: absolute;
    height: 330px;
    top: 1648px;
    left: 30px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 175px;
  }

  .button_frame {
    width: 28%;
    left: 35%;
    top: 106.5%;
    height: 7%;
  }

  .button_frame .one {
    width: 80px;
    height: 80px;
  }

  .button_frame .two {
    width: 80px;
    height: 80px;
  }

  .button_frame .three {
    width: 80px;
    height: 80px;
  }

  .button_frame .four {
    width: 80px;
    height: 80px;
  }

  #map_div {
    top: 621px;
    left: 390px;
    width: 35%;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 5101px) and (max-width: 5150px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 107%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  .car_frame2 {
    width: 50%;
    height: 55%;
    left: 33%;
    top: 103%;
  }

  .car_frame2 img {
    width: 63%;
  }

  #convertables {
    width: 100%;
    padding-top: 29%;
  }

  #paragraph {
    left: 335px;
    width: 52%;
    top: -1150px;
  }

  #shape_button {
    font-size: 2.5vh;
    line-height: 94px;
  }

  #button_automobiles {
    left: 185%;
    top: -100px;
    height: 250px;
    width: 500px;
    border-radius: 150px 150px 150px 150px;
  }

  #automobiles_anchor {
    font-size: 40px;
  }

  .btn_perspective {
    left: 350px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -345px;
    width: 40%;
    height: 40%;
    top: 2600px;
  }

  #hologram_light_image {
    position: absolute;
    height: 330px;
    top: 1648px;
    left: 30px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 175px;
  }

  .button_frame {
    width: 28%;
    left: 35%;
    top: 106.5%;
    height: 7%;
  }

  .button_frame .one {
    width: 80px;
    height: 80px;
  }

  .button_frame .two {
    width: 80px;
    height: 80px;
  }

  .button_frame .three {
    width: 80px;
    height: 80px;
  }

  .button_frame .four {
    width: 80px;
    height: 80px;
  }

  #map_div {
    top: 621px;
    left: 390px;
    width: 35%;
  }

  #automobiles_anchor_second {
    display: none;
  }
}


@media only screen and (min-width: 5001px) and (max-width: 5100px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 107%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  .car_frame2 {
    width: 50%;
    height: 55%;
    left: 33%;
    top: 103%;
  }

  .car_frame2 img {
    width: 63%;
  }

  #convertables {
    width: 100%;
    padding-top: 29%;
  }

  #paragraph {
    left: 335px;
    width: 52%;
    top: -1150px;
  }

  #shape_button {
    font-size: 2.5vh;
    line-height: 94px;
  }

  #button_automobiles {
    left: 175%;
    top: -49px;
    font-size: 50px;
    width: 500px;
    height: 250px;
    border-radius: 150px 150px 150px 150px;
  }

  .btn_perspective {
    left: 350px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -345px;
    width: 40%;
    height: 40%;
    top: 2600px;
  }

  #hologram_light_image {
    position: absolute;
    height: 330px;
    top: 1648px;
    left: 30px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 175px;
  }

  .button_frame {
    width: 28%;
    left: 35%;
    top: 106.5%;
    height: 7%;
  }

  .button_frame .one {
    width: 80px;
    height: 80px;
  }

  .button_frame .two {
    width: 80px;
    height: 80px;
  }

  .button_frame .three {
    width: 80px;
    height: 80px;
  }

  .button_frame .four {
    width: 80px;
    height: 80px;
  }

  #map_div {
    top: 230px;
    left: 390px;
    width: 35%;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 4901px) and (max-width: 5000px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 107%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  .car_frame2 {
    width: 50%;
    height: 55%;
    left: 33%;
    top: 103%;
  }

  .car_frame2 img {
    width: 63%;
  }

  #convertables {
    width: 100%;
    padding-top: 29%;
  }

  #paragraph {
    left: 335px;
    width: 52%;
    top: -1150px;
  }

  #shape_button {
    font-size: 2.5vh;
    line-height: 94px;
  }

  #button_automobiles {
    left: 175%;
    top: -49px;
    font-size: 50px;
    width: 500px;
    height: 250px;
    border-radius: 150px 150px 150px 150px;
  }

  .btn_perspective {
    left: 350px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -362px;
    width: 40%;
    height: 40%;
    top: 2447px;
  }

  #hologram_light_image {
    position: absolute;
    height: 330px;
    top: 1500px;
    left: 30px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 175px;
  }

  .button_frame {
    width: 28%;
    left: 35%;
    top: 106.5%;
    height: 7%;
  }

  .button_frame .one {
    width: 80px;
    height: 80px;
  }

  .button_frame .two {
    width: 80px;
    height: 80px;
  }

  .button_frame .three {
    width: 80px;
    height: 80px;
  }

  .button_frame .four {
    width: 80px;
    height: 80px;
  }

  #map_div {
    top: 540px;
    left: 284px;
    width: 35%;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 4801px) and (max-width: 4900px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 107%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  .car_frame2 {
    width: 50%;
    height: 55%;
    left: 33%;
    top: 103%;
  }

  .car_frame2 img {
    width: 63%;
  }

  #convertables {
    width: 100%;
    padding-top: 29%;
  }

  #paragraph {
    left: 335px;
    width: 52%;
    top: -1150px;
  }

  #shape_button {
    font-size: 2.5vh;
    line-height: 94px;
  }

  #button_automobiles {
    left: 175%;
    top: -49px;
    font-size: 50px;
    width: 500px;
    height: 250px;
    border-radius: 150px 150px 150px 150px;
  }

  .btn_perspective {
    left: 350px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -362px;
    width: 40%;
    height: 40%;
    top: 2447px;
  }

  #hologram_light_image {
    position: absolute;
    height: 330px;
    top: 1500px;
    left: 30px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 175px;
  }

  .button_frame {
    width: 28%;
    left: 35%;
    top: 106.5%;
    height: 7%;
  }

  .button_frame .one {
    width: 80px;
    height: 80px;
  }

  .button_frame .two {
    width: 80px;
    height: 80px;
  }

  .button_frame .three {
    width: 80px;
    height: 80px;
  }

  .button_frame .four {
    width: 80px;
    height: 80px;
  }

  #map_div {
    top: 540px;
    left: 284px;
    width: 35%;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 4151px) and (max-width: 4200px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 107%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  .car_frame2 {
    width: 50%;
    height: 55%;
    left: 33%;
    top: 103%;
  }

  .car_frame2 img {
    width: 63%;
  }

  #convertables {
    width: 100%;
    padding-top: 27%;
  }

  #paragraph {
    left: 285px;
    width: 52%;
    top: -900px;
  }

  #shape_button {
    font-size: 2.5vh;
    line-height: 81px;
  }

  #button_automobiles {
    left: 310%;
    top: -100px;
  }

  .btn_perspective {
    left: 350px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -345px;
    width: 40%;
    height: 40%;
    top: 2120px;
  }

  #hologram_light_image {
    position: absolute;
    height: 219px;
    top: 1268px;
    left: 157px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 175px;
  }

  .button_frame {
    width: 28%;
    left: 35%;
    top: 106.5%;
    height: 7%;
  }

  .button_frame .one {
    width: 80px;
    height: 80px;
  }

  .button_frame .two {
    width: 80px;
    height: 80px;
  }

  .button_frame .three {
    width: 80px;
    height: 80px;
  }

  .button_frame .four {
    width: 80px;
    height: 80px;
  }

  #map_div {
    top: 230px;
    left: 468px;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 4101px) and (max-width: 4150px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 107%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  .car_frame2 {
    width: 50%;
    height: 55%;
    left: 33%;
    top: 103%;
  }

  .car_frame2 img {
    width: 63%;
  }

  #convertables {
    width: 100%;
    padding-top: 27%;
  }

  #paragraph {
    left: 285px;
    width: 52%;
    top: -900px;
  }

  #shape_button {
    font-size: 2.5vh;
    line-height: 81px;
  }

  #button_automobiles {
    left: 310%;
    top: -100px;
  }

  .btn_perspective {
    left: 350px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -345px;
    width: 40%;
    height: 40%;
    top: 2120px;
  }

  #hologram_light_image {
    position: absolute;
    height: 219px;
    top: 1268px;
    left: 157px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 175px;
  }

  .button_frame {
    width: 28%;
    left: 35%;
    top: 106.5%;
    height: 7%;
  }

  .button_frame .one {
    width: 80px;
    height: 80px;
  }

  .button_frame .two {
    width: 80px;
    height: 80px;
  }

  .button_frame .three {
    width: 80px;
    height: 80px;
  }

  .button_frame .four {
    width: 80px;
    height: 80px;
  }

  #map_div {
    top: 230px;
    left: 468px;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 4051px) and (max-width: 4100px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 107%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  .car_frame2 {
    width: 50%;
    height: 55%;
    left: 33%;
    top: 103%;
  }

  .car_frame2 img {
    width: 63%;
  }

  #convertables {
    width: 100%;
    padding-top: 27%;
  }

  #paragraph {
    left: 285px;
    width: 52%;
    top: -900px;
  }

  #shape_button {
    font-size: 2.5vh;
    line-height: 81px;
  }

  #button_automobiles {
    left: 310%;
    top: -100px;
  }

  .btn_perspective {
    left: 350px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -345px;
    width: 40%;
    height: 40%;
    top: 2090px;
  }

  #hologram_light_image {
    position: absolute;
    height: 219px;
    top: 1240px;
    left: 157px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 175px;
  }

  .button_frame {
    width: 28%;
    left: 35%;
    top: 106.5%;
    height: 7%;
  }

  .button_frame .one {
    width: 80px;
    height: 80px;
  }

  .button_frame .two {
    width: 80px;
    height: 80px;
  }

  .button_frame .three {
    width: 80px;
    height: 80px;
  }

  .button_frame .four {
    width: 80px;
    height: 80px;
  }

  #map_div {
    top: 230px;
    left: 468px;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 3951px) and (max-width: 4050px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 110%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  .car_frame2 {
    width: 50%;
    height: 55%;
    left: 33%;
    top: 103%;
  }

  .car_frame2 img {
    width: 63%;
  }

  #convertables {
    width: 100%;
    padding-top: 27%;
  }

  #paragraph {
    left: 285px;
    width: 52%;
    top: -900px;
  }

  #shape_button {
    font-size: 2.5vh;
    line-height: 81px;
  }

  #button_automobiles {
    left: 242%;
    font-size: 30px;
  }

  .btn_perspective {
    left: 350px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -345px;
    width: 40%;
    height: 40%;
    top: 2050px;
  }

  #hologram_light_image {
    position: absolute;
    height: 219px;
    top: 1200px;
    left: 117px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 175px;
  }

  .button_frame {
    width: 28%;
    left: 35%;
    top: 106.5%;
    height: 7%;
  }

  .button_frame .one {
    width: 80px;
    height: 80px;
  }

  .button_frame .two {
    width: 80px;
    height: 80px;
  }

  .button_frame .three {
    width: 80px;
    height: 80px;
  }

  .button_frame .four {
    width: 80px;
    height: 80px;
  }

  #map_div {
    top: 446px;
    left: 378px;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 3851px) and (max-width: 3950px) {
  .car_new {
    width: 32%;
    height: 35%;
    position: absolute;
    left: -14%;
    top: 103%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  .car_frame2 {
    width: 77%;
    height: 65%;
    left: 34%;
    top: 107%;
  }

  #convertables {
    width: 100%;
    padding-top: 23%;
  }

  #paragraph {
    left: 280px;
    width: 50%;
    top: -724px;
  }

  #shape_button {
    font-size: 2.5vh;
    line-height: 55px;
  }

  #button_automobiles {
    left: 200%;
    margin-top: 36%;
    font-size: 35px;
  }

  .btn_perspective {
    left: 350px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -345px;
    width: 40%;
    height: 40%;
    top: 1910px;
  }

  #hologram_light_image {
    position: absolute;
    height: 250px;
    top: 1023px;
    left: 121px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 175px;
  }

  .button_frame {
    width: 22%;
    left: 35.2%;
    top: 109.5%;
    height: 7%;
  }

  .button_frame .one {
    width: 80px;
    height: 80px;
  }

  .button_frame .two {
    width: 80px;
    height: 80px;
  }

  .button_frame .three {
    width: 80px;
    height: 80px;
  }

  .button_frame .four {
    width: 80px;
    height: 80px;
  }

  #map_div {
    top: 361px;
    left: 390px;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 3751px) and (max-width: 3850px) {
  .car_new {
    width: 32%;
    height: 35%;
    position: absolute;
    left: -14%;
    top: 103%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  .car_frame2 {
    width: 77%;
    height: 65%;
    left: 34%;
    top: 107%;
  }

  #convertables {
    width: 100%;
    padding-top: 23%;
  }

  #paragraph {
    left: 280px;
    width: 50%;
    top: -724px;
  }

  #shape_button {
    font-size: 2.5vh;
    line-height: 55px;
  }

  #button_automobiles {
    left: 160%;
    margin-top: 36%;
    font-size: 35px;
  }

  .btn_perspective {
    left: 350px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -345px;
    width: 40%;
    height: 40%;
    top: 1803px;
  }

  #hologram_light_image {
    position: absolute;
    height: 220px;
    top: 945px;
    left: 121px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 175px;
  }

  .button_frame {
    width: 22%;
    left: 35.4%;
    top: 109.5%;
    height: 7%;
  }

  .button_frame .one {
    width: 80px;
    height: 80px;
  }

  .button_frame .two {
    width: 80px;
    height: 80px;
  }

  .button_frame .three {
    width: 80px;
    height: 80px;
  }

  .button_frame .four {
    width: 80px;
    height: 80px;
  }

  #map_div {
    top: 361px;
    left: 390px;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 3651px) and (max-width: 3750px) {
  .car_new {
    width: 32%;
    height: 35%;
    position: absolute;
    left: -14%;
    top: 103%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  .car_frame2 {
    width: 77%;
    height: 65%;
    left: 34%;
    top: 107%;
  }

  #convertables {
    width: 100%;
    padding-top: 23%;
  }

  #paragraph {
    left: 229px;
    width: 50%;
    top: -600px;
  }

  #shape_button {
    font-size: 2.5vh;
    line-height: 55px;
  }

  #button_automobiles {
    left: 160%;
    margin-top: 36%;
    font-size: 35px;
  }

  .btn_perspective {
    left: 350px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -345px;
    width: 40%;
    height: 40%;
    top: 1720px;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 925px;
    left: 150px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 175px;
  }

  .button_frame {
    width: 23%;
    left: 35.4%;
    top: 109.5%;
    height: 7%;
  }

  .button_frame .one {
    width: 80px;
    height: 80px;
  }

  .button_frame .two {
    width: 80px;
    height: 80px;
  }

  .button_frame .three {
    width: 80px;
    height: 80px;
  }

  .button_frame .four {
    width: 80px;
    height: 80px;
  }

  #map_div {
    top: 361px;
    left: 390px;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 3551px) and (max-width: 3650px) {
  .car_new {
    width: 32%;
    height: 35%;
    position: absolute;
    left: -14%;
    top: 103%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  .car_frame2 {
    width: 77%;
    height: 65%;
    left: 34%;
    top: 107%;
  }

  #convertables {
    width: 100%;
    padding-top: 23%;
  }

  #paragraph {
    left: 229px;
    width: 50%;
    top: -600px;
  }


  #shape_button {
    font-size: 2.5vh;
    line-height: 55px;
  }

  #button_automobiles {
    left: 160%;
    margin-top: 36%;
    font-size: 35px;
  }

  .btn_perspective {
    left: 350px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -345px;
    width: 40%;
    height: 40%;
    top: 1720px;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 925px;
    left: 150px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 175px;
  }

  .button_frame {
    width: 23%;
    left: 36%;
    top: 109.5%;
    height: 7%;
  }

  .button_frame .one {
    width: 80px;
    height: 80px;
  }

  .button_frame .two {
    width: 80px;
    height: 80px;
  }

  .button_frame .three {
    width: 80px;
    height: 80px;
  }

  .button_frame .four {
    width: 80px;
    height: 80px;
  }

  #map_div {
    top: 361px;
    left: 390px;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 3451px) and (max-width: 3550px) {
  .car_new {
    width: 32%;
    height: 35%;
    position: absolute;
    left: -14%;
    top: 106%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  .car_frame2 {
    width: 77%;
    height: 65%;
    left: 34%;
    top: 107%;
  }

  #convertables {
    width: 100%;
    padding-top: 23%;
  }

  #paragraph {
    left: 229px;
    width: 50%;
    top: -450px;
  }

  #shape_button {
    font-size: 2.5vh;
    line-height: 55px;
  }

  #button_automobiles {
    left: 160%;
    margin-top: 36%;
    font-size: 35px;
  }

  .btn_perspective {
    left: 350px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -345px;
    width: 40%;
    height: 40%;
    top: 1720px;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 925px;
    left: 150px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 175px;
  }

  .button_frame {
    width: 23%;
    left: 36%;
    top: 109.5%;
    height: 7%;
  }

  .button_frame .one {
    width: 80px;
    height: 80px;
  }

  .button_frame .two {
    width: 80px;
    height: 80px;
  }

  .button_frame .three {
    width: 80px;
    height: 80px;
  }

  .button_frame .four {
    width: 80px;
    height: 80px;
  }

  #map_div {
    top: 361px;
    left: 390px;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 3351px) and (max-width: 3450px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 107%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  .car_frame2 {
    width: 50%;
    height: 55%;
    left: 29%;
    top: 103%;
  }

  #convertables {
    width: 100%;
    padding-top: 23%;
  }

  #paragraph {
    left: 229px;
    width: 50%;
    top: -450px;
  }

  #shape_button {
    font-size: 2.5vh;
    line-height: 55px;
  }

  #button_automobiles {
    left: 135%;
    margin-top: 36%;
    font-size: 35px;
  }

  .btn_perspective {
    left: 350px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -345px;
    width: 40%;
    height: 40%;
    top: 1720px;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 925px;
    left: 150px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 175px;
  }

  .button_frame {
    width: 24.5%;
    left: 31%;
    top: 105.5%;
    height: 10%;
  }

  .button_frame .one {
    width: 80px;
    height: 80px;
  }

  .button_frame .two {
    width: 80px;
    height: 80px;
  }

  .button_frame .three {
    width: 80px;
    height: 80px;
  }

  .button_frame .four {
    width: 80px;
    height: 80px;
  }

  #map_div {
    top: 361px;
    left: 390px;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 3251px) and (max-width: 3350px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 107%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  .car_frame2 {
    width: 50%;
    height: 55%;
    left: 29%;
    top: 103%;
  }

  #convertables {
    width: 100%;
    padding-top: 23%;
  }

  #paragraph {
    left: 229px;
    width: 50%;
    top: -450px;
  }

  #shape_button {
    font-size: 2.5vh;
    line-height: 55px;
  }

  #button_automobiles {
    left: 135%;
    margin-top: 36%;
    font-size: 35px;
  }

  .btn_perspective {
    left: 350px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -345px;
    width: 40%;
    height: 40%;
    top: 1720px;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 925px;
    left: 150px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 175px;
  }

  .button_frame {
    width: 25%;
    left: 31%;
    top: 105.5%;
    height: 10%;
  }

  .button_frame .one {
    width: 80px;
    height: 80px;
  }

  .button_frame .two {
    width: 80px;
    height: 80px;
  }

  .button_frame .three {
    width: 80px;
    height: 80px;
  }

  .button_frame .four {
    width: 80px;
    height: 80px;
  }

  #map_div {
    top: 361px;
    left: 390px;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 3151px) and (max-width: 3250px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 107%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  .car_frame2 {
    width: 50%;
    height: 55%;
    left: 29%;
    top: 103%;
  }

  #convertables {
    width: 100%;
    padding-top: 23%;
  }

  #paragraph {
    left: 229px;
    width: 50%;
    top: -450px;
  }

  #shape_button {
    font-size: 2.5vh;
    line-height: 55px;
  }

  #button_automobiles {
    left: 135%;
    margin-top: 36%;
    font-size: 35px;
  }

  .btn_perspective {
    left: 350px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -345px;
    width: 40%;
    height: 40%;
    top: 1600px;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 810px;
    left: 150px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 175px;
  }

  .button_frame {
    width: 26%;
    left: 31%;
    top: 105.5%;
    height: 10%;
  }

  .button_frame .one {
    width: 80px;
    height: 80px;
  }

  .button_frame .two {
    width: 80px;
    height: 80px;
  }

  .button_frame .three {
    width: 80px;
    height: 80px;
  }

  .button_frame .four {
    width: 80px;
    height: 80px;
  }

  #map_div {
    top: 361px;
    left: 390px;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 3051px) and (max-width: 3150px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 107%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  .car_frame2 {
    width: 50%;
    height: 55%;
    left: 29%;
    top: 103%;
  }

  #convertables {
    width: 100%;
    padding-top: 23%;
  }

  #paragraph {
    left: 229px;
    width: 50%;
    top: -450px;
  }

  #shape_button {
    font-size: 2.5vh;
    line-height: 55px;
  }

  #button_automobiles {
    left: 135%;
    margin-top: 36%;
    font-size: 35px;
  }

  .btn_perspective {
    left: 350px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -345px;
    width: 40%;
    height: 40%;
    top: 1600px;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 810px;
    left: 150px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 175px;
  }

  .button_frame {
    width: 27%;
    left: 31%;
    top: 105.5%;
    height: 10%;
  }

  .button_frame .one {
    width: 80px;
    height: 80px;
  }

  .button_frame .two {
    width: 80px;
    height: 80px;
  }

  .button_frame .three {
    width: 80px;
    height: 80px;
  }

  .button_frame .four {
    width: 80px;
    height: 80px;
  }

  #map_div {
    top: 361px;
    left: 390px;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 2951px) and (max-width: 3050px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 107%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  .car_frame2 {
    width: 50%;
    height: 55%;
    left: 29%;
    top: 103%;
  }

  #convertables {
    width: 100%;
    padding-top: 23%;
  }

  #paragraph {
    left: 229px;
    width: 50%;
    top: -450px;
  }

  #shape_button {
    font-size: 2.5vh;
    line-height: 55px;
  }

  #button_automobiles {
    left: 155%;
  }

  .btn_perspective {
    left: 350px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -345px;
    width: 40%;
    height: 40%;
    top: 1525px;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 745px;
    left: 150px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 175px;
  }

  .button_frame {
    width: 28%;
    left: 31%;
    top: 106.5%;
    height: 10%;
  }

  .button_frame .one {
    width: 80px;
    height: 80px;
  }

  .button_frame .two {
    width: 80px;
    height: 80px;
  }

  .button_frame .three {
    width: 80px;
    height: 80px;
  }

  .button_frame .four {
    width: 80px;
    height: 80px;
  }

  #map_div {
    top: 361px;
    left: 390px;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 2901px) and (max-width: 2950px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 107%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  .car_frame2 {
    width: 50%;
    height: 55%;
    left: 29%;
    top: 103%;
  }

  #convertables {
    width: 100%;
    padding-top: 23%;
  }

  #paragraph {
    left: 229px;
    width: 50%;
    top: -450px;
  }

  #shape_button {
    font-size: 2.5vh;
    line-height: 55px;
  }

  #button_automobiles {
    left: 155%;
  }

  .btn_perspective {
    left: 350px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -345px;
    width: 40%;
    height: 40%;
    top: 1525px;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 725px;
    left: 150px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 155px;
  }

  .button_frame {
    width: 29%;
    left: 31%;
    top: 106.5%;
    height: 10%;
  }

  .button_frame .one {
    width: 80px;
    height: 80px;
  }

  .button_frame .two {
    width: 80px;
    height: 80px;
  }

  .button_frame .three {
    width: 80px;
    height: 80px;
  }

  .button_frame .four {
    width: 80px;
    height: 80px;
  }

  #map_div {
    top: 363px;
    left: 382px;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 2851px) and (max-width: 2900px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 107%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  .car_frame2 {
    width: 50%;
    height: 55%;
    left: 24%;
    top: 99%;
  }

  #convertables {
    width: 100%;
    padding-top: 22%;
  }

  #paragraph {
    left: 229px;
    width: 50%;
    top: -450px;
  }

  #shape_button {
    font-size: 2.5vh;
    line-height: 55px;
  }

  #button_automobiles {
    left: 155%;
  }

  .btn_perspective {
    left: 350px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -345px;
    width: 40%;
    height: 40%;
    top: 1525px;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 705px;
    left: 150px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 135px;
  }

  .button_frame {
    width: 29%;
    left: 26%;
    top: 102.5%;
    height: 10%;
  }

  .button_frame .one {
    width: 80px;
    height: 80px;
  }

  .button_frame .two {
    width: 80px;
    height: 80px;
  }

  .button_frame .three {
    width: 80px;
    height: 80px;
  }

  .button_frame .four {
    width: 80px;
    height: 80px;
  }

  #map_div {
    top: 151px;
    left: 382px;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 2801px) and (max-width: 2850px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 107%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  .car_frame2 {
    width: 50%;
    height: 55%;
    left: 24%;
    top: 99%;
  }

  #convertables {
    width: 100%;
    padding-top: 22%;
  }

  #paragraph {
    left: 229px;
    width: 50%;
    top: -450px;
  }

  #shape_button {
    font-size: 2.5vh;
    line-height: 55px;
  }

  #button_automobiles {
    left: 155%;
  }

  .btn_perspective {
    left: 350px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -345px;
    width: 40%;
    height: 40%;
    top: 1525px;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 685px;
    left: 150px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 115px;
  }

  .button_frame {
    width: 30%;
    left: 26%;
    top: 102.5%;
    height: 10%;
  }

  .button_frame .one {
    width: 80px;
    height: 80px;
  }

  .button_frame .two {
    width: 80px;
    height: 80px;
  }

  .button_frame .three {
    width: 80px;
    height: 80px;
  }

  .button_frame .four {
    width: 80px;
    height: 80px;
  }

  #map_div {
    top: 151px;
    left: 375px;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 2751px) and (max-width: 2800px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 107%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  .car_frame2 {
    width: 50%;
    height: 55%;
    left: 24%;
    top: 99%;
  }

  #convertables {
    width: 100%;
    padding-top: 22%;
  }

  #paragraph {
    left: 229px;
    width: 50%;
    top: -450px;
  }

  #shape_button {
    font-size: 2.5vh;
    line-height: 55px;
  }

  #button_automobiles {
    left: 155%;
  }

  .btn_perspective {
    left: 350px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -345px;
    width: 40%;
    height: 40%;
    top: 1525px;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 665px;
    left: 150px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 95px;
  }

  .button_frame {
    width: 30%;
    left: 26%;
    top: 102.5%;
    height: 10%;
  }

  .button_frame .one {
    width: 80px;
    height: 80px;
  }

  .button_frame .two {
    width: 80px;
    height: 80px;
  }

  .button_frame .three {
    width: 80px;
    height: 80px;
  }

  .button_frame .four {
    width: 80px;
    height: 80px;
  }

  #map_div {
    top: 151px;
    left: 375px;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 2701px) and (max-width: 2750px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 107%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  .car_frame2 {
    width: 50%;
    height: 55%;
    left: 24%;
    top: 99%;
  }

  #convertables {
    width: 100%;
    padding-top: 22%;
  }

  #paragraph {
    left: 229px;
    width: 50%;
    top: -450px;
  }

  #shape_button {
    font-size: 2.5vh;
    line-height: 55px;
  }

  #button_automobiles {
    left: 130%;
  }

  .btn_perspective {
    left: 350px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -345px;
    width: 40%;
    height: 40%;
    top: 1525px;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 645px;
    left: 150px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 75px;
  }

  .button_frame {
    width: 31%;
    left: 26%;
    top: 102.5%;
    height: 10%;
  }

  .button_frame .one {
    width: 80px;
    height: 80px;
  }

  .button_frame .two {
    width: 80px;
    height: 80px;
  }

  .button_frame .three {
    width: 80px;
    height: 80px;
  }

  .button_frame .four {
    width: 80px;
    height: 80px;
  }

  #map_div {
    top: 151px;
    left: 367px;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 2651px) and (max-width: 2700px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 107%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  .car_frame2 {
    width: 50%;
    height: 55%;
    left: 24%;
    top: 99%;
  }

  #convertables {
    width: 100%;
    padding-top: 22%;
  }

  #paragraph {
    left: 229px;
    width: 50%;
    top: -450px;
  }

  #shape_button {
    font-size: 2.5vh;
    line-height: 55px;
  }

  #button_automobiles {
    left: 130%;
  }

  .btn_perspective {
    left: 350px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -345px;
    width: 40%;
    height: 40%;
    top: 1500px;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 620px;
    left: 150px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 75px;
  }

  .button_frame {
    width: 31%;
    left: 26%;
    top: 102.5%;
    height: 10%;
  }

  .button_frame .one {
    width: 80px;
    height: 80px;
  }

  .button_frame .two {
    width: 80px;
    height: 80px;
  }

  .button_frame .three {
    width: 80px;
    height: 80px;
  }

  .button_frame .four {
    width: 80px;
    height: 80px;
  }

  #map_div {
    top: 151px;
    left: 367px;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 2601px) and (max-width: 2650px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 105%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  .car_frame2 {
    width: 50%;
    height: 55%;
    left: 24%;
    top: 99%;
  }

  #convertables {
    width: 100%;
    padding-top: 20%;
  }

  #paragraph {
    left: 229px;
    width: 50%;
    top: -450px;
  }

  #shape_button {
    font-size: 2.5vh;
    line-height: 55px;
  }

  #button_automobiles {
    left: 130%;
  }

  .btn_perspective {
    left: 350px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -345px;
    width: 40%;
    height: 40%;
    top: 1480px;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 600px;
    left: 150px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 75px;
  }

  .button_frame {
    width: 32%;
    left: 26%;
    top: 102.5%;
    height: 10%;
  }

  .button_frame .one {
    width: 80px;
    height: 80px;
  }

  .button_frame .two {
    width: 80px;
    height: 80px;
  }

  .button_frame .three {
    width: 80px;
    height: 80px;
  }

  .button_frame .four {
    width: 80px;
    height: 80px;
  }

  #map_div {
    top: 151px;
    left: 357px;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 2551px) and (max-width: 2600px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 105%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  .car_frame2 {
    width: 50%;
    height: 55%;
    left: 24%;
    top: 99%;
  }

  #convertables {
    width: 100%;
    padding-top: 20%;
  }

  #paragraph {
    left: 229px;
    width: 50%;
    top: -450px;
  }

  #shape_button {
    font-size: 2.5vh;
    line-height: 55px;
  }

  #button_automobiles {
    left: 130%;
  }

  .btn_perspective {
    left: 350px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -300px;
    width: 40%;
    height: 40%;
    top: 1455px;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 578px;
    left: 150px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 75px;
  }

  .button_frame {
    width: 32%;
    left: 27%;
    top: 102.5%;
    height: 10%;
  }

  .button_frame .one {
    width: 80px;
    height: 80px;
  }

  .button_frame .two {
    width: 80px;
    height: 80px;
  }

  .button_frame .three {
    width: 80px;
    height: 80px;
  }

  .button_frame .four {
    width: 80px;
    height: 80px;
  }

  #map_div {
    top: 151px;
    left: 357px;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 2501px) and (max-width: 2550px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 105%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  .car_frame2 {
    width: 50%;
    height: 55%;
    left: 24%;
    top: 99%;
  }

  #convertables {
    width: 100%;
    padding-top: 20%;
  }

  #paragraph {
    left: 170px;
    width: 50%;
    top: -220px;
  }

  #shape_button {
    font-size: 2.5vh;
  }

  #button_automobiles {
    left: 50%;
  }

  .btn_perspective {
    left: 350px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -300px;
    width: 40%;
    height: 40%;
    top: 1430px;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 552px;
    left: 150px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 75px;
  }

  .button_frame {
    width: 32%;
    left: 27%;
    top: 102.5%;
    height: 10%;
  }

  .button_frame .one {
    width: 80px;
    height: 80px;
  }

  .button_frame .two {
    width: 80px;
    height: 80px;
  }

  .button_frame .three {
    width: 80px;
    height: 80px;
  }

  .button_frame .four {
    width: 80px;
    height: 80px;
  }

  #map_div {
    top: 151px;
    left: 357px;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 2450px) and (max-width: 2500px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 105%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  .car_frame2 {
    width: 50%;
    height: 55%;
    left: 24%;
    top: 97%;
  }

  #convertables {
    width: 100%;
    padding-top: 20%;
  }

  #paragraph {
    left: 170px;
    width: 50%;
    top: -220px;
  }

  #button_automobiles {
    left: 50%;
  }

  .btn_perspective {
    left: 350px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -300px;
    width: 40%;
    height: 40%;
    top: 1380px;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 535px;
    left: 150px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 75px;
  }

  .button_frame {
    width: 33%;
    left: 27%;
    top: 100.5%;
    height: 10%;
  }

  .button_frame .one {
    width: 80px;
    height: 80px;
  }

  .button_frame .two {
    width: 80px;
    height: 80px;
  }

  .button_frame .three {
    width: 80px;
    height: 80px;
  }

  .button_frame .four {
    width: 80px;
    height: 80px;
  }

  #map_div {
    top: 151px;
    left: 350px;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 2351px) and (max-width: 2400px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 105%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  .car_frame2 {
    width: 50%;
    height: 55%;
    left: 24%;
    top: 97%;
  }

  #convertables {
    width: 100%;
    padding-top: 19%;
  }

  #paragraph {
    left: 170px;
    width: 50%;
    top: -220px;
  }

  #button_automobiles {
    left: 50%;
  }

  .btn_perspective {
    left: 350px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -300px;
    width: 40%;
    height: 40%;
    top: 1360px;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 490px;
    left: 150px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 75px;
  }

  .button_frame {
    width: 35%;
    left: 27%;
    top: 100.5%;
    height: 10%;
  }

  .button_frame .one {
    width: 80px;
    height: 80px;
  }

  .button_frame .two {
    width: 80px;
    height: 80px;
  }

  .button_frame .three {
    width: 80px;
    height: 80px;
  }

  .button_frame .four {
    width: 80px;
    height: 80px;
  }

  #map_div {
    top: 151px;
    left: 345px;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 2301px) and (max-width: 2350px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 105%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  #convertables {
    width: 100%;
    padding-top: 19%;
  }

  #paragraph {
    left: 170px;
    width: 50%;
    top: -220px;
  }

  #button_automobiles {
    left: 50%;
  }

  .btn_perspective {
    left: 350px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -300px;
    width: 40%;
    height: 40%;
    top: 1320px;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 450px;
    left: 150px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 75px;
  }

  .button_frame {
    width: 36%;
    left: 22.9%;
    top: 98.5%;
    height: 10%;
  }

  .button_frame .one {
    width: 80px;
    height: 80px;
  }

  .button_frame .two {
    width: 80px;
    height: 80px;
  }

  .button_frame .three {
    width: 80px;
    height: 80px;
  }

  .button_frame .four {
    width: 80px;
    height: 80px;
  }

  #map_div {
    top: 151px;
    left: 340px;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 2250px) and (max-width: 2300px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 105%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  #convertables {
    width: 100%;
    padding-top: 19%;
  }

  #paragraph {
    left: 170px;
    width: 50%;
    top: -220px;
  }

  #button_automobiles {
    left: 50%;
  }

  .btn_perspective {
    left: 350px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -300px;
    width: 40%;
    height: 40%;
    top: 1290px;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 425px;
    left: 150px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 75px;
  }

  .button_frame {
    width: 37%;
    left: 22.9%;
    top: 98.5%;
    height: 10%;
  }

  .button_frame .one {
    width: 80px;
    height: 80px;
  }

  .button_frame .two {
    width: 80px;
    height: 80px;
  }

  .button_frame .three {
    width: 80px;
    height: 80px;
  }

  .button_frame .four {
    width: 80px;
    height: 80px;
  }

  #map_div {
    top: 151px;
    left: 340px;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 2171px) and (max-width: 2249px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 105%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  #convertables {
    width: 100%;
    padding-top: 16%;
  }

  #paragraph {
    left: 170px;
    width: 50%;
    top: -220px;
  }

  #button_automobiles {
    left: 50%;
  }

  .btn_perspective {
    left: 380px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -245px;
    width: 40%;
    height: 40%;
    top: 1220px;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 360px;
    left: 150px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 75px;
  }

  .button_frame {
    width: 39%;
    left: 22.5%;
    top: 98.5%;
  }

  .button_frame .one {
    width: 80px;
    height: 80px;
  }

  .button_frame .two {
    width: 80px;
    height: 80px;
  }

  .button_frame .three {
    width: 80px;
    height: 80px;
  }

  .button_frame .four {
    width: 80px;
    height: 80px;
  }

  #map_div {
    top: 151px;
    left: 318px;
  }

  #automobiles_anchor_second {
    display: none;
  }

}

@media only screen and (min-width: 2101px) and (max-width: 2170px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 105%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  #convertables {
    width: 100%;
    padding-top: 16%;
  }

  #paragraph {
    left: 170px;
    width: 50%;
    top: -220px;
  }

  #button_automobiles {
    left: 50%;
  }

  .btn_perspective {
    left: 380px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -245px;
    width: 40%;
    height: 40%;
    top: 1220px;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 360px;
    left: 150px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 75px;
  }

  .button_frame {
    width: 41%;
    left: 22.5%;
    top: 98.5%;
  }

  .button_frame .one {
    width: 80px;
    height: 80px;
  }

  .button_frame .two {
    width: 80px;
    height: 80px;
  }

  .button_frame .three {
    width: 80px;
    height: 80px;
  }

  .button_frame .four {
    width: 80px;
    height: 80px;
  }

  #map_div {
    top: 151px;
    left: 318px;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 2051px) and (max-width: 2100px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 105%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  #convertables {
    width: 100%;
    padding-top: 16%;
  }

  #paragraph {
    left: 170px;
    width: 50%;
    top: -220px;
  }

  #button_automobiles {
    left: 50%;
  }

  .btn_perspective {
    left: 380px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -245px;
    width: 40%;
    height: 40%;
    top: 1220px;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 360px;
    left: 150px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 75px;
  }

  .button_frame {
    width: 41%;
    left: 22.5%;
    top: 98.5%;
  }

  .button_frame .one {
    width: 80px;
    height: 80px;
  }

  .button_frame .two {
    width: 80px;
    height: 80px;
  }

  .button_frame .three {
    width: 80px;
    height: 80px;
  }

  .button_frame .four {
    width: 80px;
    height: 80px;
  }

  #map_div {
    top: 151px;
    left: 318px;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 2000px) and (max-width: 2050px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 105%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  #convertables {
    width: 100%;
    padding-top: 15%;
  }

  #paragraph {
    left: 170px;
    width: 50%;
    top: -100px;
  }

  .btn_perspective {
    left: 380px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -245px;
    width: 40%;
    height: 40%;
    top: 1175px;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 320px;
    left: 150px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 75px;
  }

  #map_div {
    top: 151px;
    left: 318px;
  }

  .button_frame {
    width: 41%;
    left: 23.5%;
    top: 98.5%;
  }

  .button_frame .one {
    width: 80px;
    height: 80px;
  }

  .button_frame .two {
    width: 80px;
    height: 80px;
  }

  .button_frame .three {
    width: 80px;
    height: 80px;
  }

  .button_frame .four {
    width: 80px;
    height: 80px;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 1931px) and (max-width: 1999px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 105%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  #convertables {
    width: 100%;
    padding-top: 15%;
  }

  #paragraph {
    left: 170px;
    width: 50%;
    top: -100px;
  }

  .btn_perspective {
    left: 350px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -200px;
    width: 40%;
    height: 40%;
    top: 1155px;
  }

  #hologram_light_image {
    top: 300px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 75px;
  }

  #map_div {
    top: 110px;
    left: 310px;
  }

  #button_automobiles {
    left: 50%;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 1851px) and (max-width: 1930px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 105%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  #convertables {
    width: 100%;
    padding-top: 15%;
  }

  #paragraph {
    left: 170px;
    width: 50%;
    top: -100px;
  }

  .btn_perspective {
    left: 350px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -200px;
    width: 40%;
    height: 40%;
    top: 1155px;
  }

  #hologram_light_image {
    top: 300px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 75px;
  }

  #map_div {
    top: 110px;
    left: 310px;
  }

  #button_automobiles {
    left: 50%;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 1800px) and (max-width: 1850px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 105%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  #convertables {
    width: 100%;
    padding-top: 12%;
  }

  #paragraph {
    left: 170px;
    width: 50%;
    top: -100px;
  }

  .btn_perspective {
    left: 350px;
  }

  #new_frame {
    position: relative;
    background-color: transparent;
    left: -200px;
    width: 40%;
    height: 40%;
    top: 1090px;
  }

  #hologram_light_image {
    top: 250px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 75px;
  }

  #map_div {
    top: 110px;
    left: 310px;
  }

  #button_automobiles {
    left: 50%;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 1751px) and (max-width: 1799px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 105%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  #convertables {
    width: 100%;
    padding-top: 12%;
  }

  #paragraph {
    left: 170px;
    width: 50%;
    top: -100px;
  }

  #new_frame {
    top: 1050px;
    left: -200px;
    width: 40%;
    height: 40%;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 200px;
    left: 130px;
  }

  #map_div {
    width: 38.5%;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 1701px) and (max-width: 1750px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 105%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  #convertables {
    width: 100%;
    padding-top: 12%;
  }

  #paragraph {
    left: 170px;
    width: 50%;
    top: -100px;
  }

  #new_frame {
    top: 1050px;
    left: -200px;
    width: 40%;
    height: 40%;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 200px;
    left: 130px;
  }

  #map_div {
    width: 38%;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 1600px) and (max-width: 1700px) {
  #new_frame {
    top: 960px;
    left: -200px;
    width: 40%;
    height: 40%;
  }

  #convertables {
    width: 100%;
    height: 630px;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 120px;
    left: 119px;
  }

  .car_new {
    left: -20%;
    top: 101%;
  }

  #map_div {
    width: 38.9%;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 1550px) and (max-width: 1599px) {
  #new_frame {
    top: 960px;
    left: -200px;
    width: 40%;
    height: 40%;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 120px;
    left: 119px;
  }

  .car_new {
    left: -20%;
    top: 106%;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 1500px) and (max-width: 1549px) {
  #new_frame {
    top: 940px;
    left: -200px;
    width: 40%;
    height: 40%;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 110px;
    left: 119px;
  }

  .car_new {
    left: -20%;
    top: 105%;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 1450px) and (max-width: 1499px) {
  #new_frame {
    top: 950px;
    left: -200px;
    width: 40%;
    height: 40%;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 120px;
    left: 100px;
  }

  .car_new {
    left: -20%;
    top: 105%;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1449px) {
  #new_frame {
    top: 900px;
    left: -200px;
    width: 40%;
    height: 40%;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 90px;
    left: 100px;
  }

  .car_new {
    left: -20%;
    top: 105%;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 1350px) and (max-width: 1399px) {
  #new_frame {
    top: 900px;
    left: -200px;
    width: 40%;
    height: 40%;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 90px;
    left: 100px;
  }

  .car_new {
    left: -20%;
    top: 105%;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1349px) {
  #new_frame {
    top: 870px;
    left: -200px;
    width: 40%;
    height: 40%;
  }

  #convertables {
    width: 300px;
    background-image: url("../img/shape_new_rectangle.svg");
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 50px;
    left: 85px;
  }

  .car_new {
    left: -20%;
    top: 105%;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 1250px) and (max-width: 1299px) {
  #new_frame {
    top: 850px;
    left: -200px;
    width: 40%;
    height: 40%;
  }

  #convertables {
    width: 300px;
    padding-top: 8%;
    background-image: url("../img/shape_new_rectangle.svg");
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 50px;
    left: 80px;
  }

  .car_new {
    left: -20%;
    top: 105%;
  }

  #map_div {
    width: 25%;
    left: 155px;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1249px) {
  #convertables {
    width: 300px;
    padding-top: 7%;
    background-image: url("../img/shape_new_rectangle.svg");
  }

  #new_frame {
    top: 800px;
    left: -200px;
    width: 40%;
    height: 40%;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 0px;
    left: 50px;
  }

  .car_new {
    left: -28%;
    top: 100%;
  }

  #map_div {
    width: 25%;
    left: 155px;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 1150px) and (max-width: 1199px) {
  #convertables {
    width: 300px;
    padding-top: 8%;
    background-image: url("../img/shape_new_rectangle.svg");
  }

  #new_frame {
    top: 800px;
    left: -200px;
    width: 40%;
    height: 40%;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 0px;
    left: 50px;
  }

  .car_new {
    left: -28%;
    top: 100%;
  }

  #map_div {
    width: 25%;
    left: 164px;
  }

  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 1050px) and (max-width: 1149px) {
  #convertables {
    width: 300px;
    padding-top: 10%;
    background-image: url("../img/shape_new_rectangle.svg");
  }

  #paragraph {
    left: 115px;
  }

  #new_frame {
    top: 745px;
    left: -200px;
    width: 40%;
    height: 40%;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: -70px;
    left: 60px;
  }

  .car_new {
    left: -28%;
    top: 100%;
  }

  #map_div {
    width: 25%;
    left: 164px;
  }

  #perspective_btn {
    top: -5px;
    background: #861a61;
    transform-style: preserve-3d;
    border-radius: 50px 50px 50px 50px;
    outline: 1px solid transparent;
    width: 150px;
    height: 50px;
  }

  #automobiles_anchor {
    font-size: 10px;
  }

  #button_automobiles {
    display: none;
  }

  #automobiles_anchor_second {
    position: relative;
    left: 40px;
    top: 8px;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1049px) {
  #convertables {
    width: 300px;
    padding-top: 9%;
    background-image: url("../img/shape_new_rectangle.svg");
  }

  #paragraph {
    left: 90px;
  }

  #new_frame {
    top: 720px;
    left: -200px;
    width: 40%;
    height: 40%;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: -90px;
    left: 60px;
  }

  .car_new {
    left: -28%;
    top: 100%;
  }

  #map_div {
    width: 25%;
    left: 164px;
  }

  #perspective_btn {
    top: -5px;
    background: #861a61;
    transform-style: preserve-3d;
    border-radius: 50px 50px 50px 50px;
    outline: 1px solid transparent;
    width: 150px;
    height: 50px;
  }

  #automobiles_anchor {
    font-size: 10px;
  }

  #button_automobiles {
    display: none;
  }

  #automobiles_anchor_second {
    position: relative;
    left: 40px;
    top: 8px;
  }
}

@media only screen and (min-width: 950px) and (max-width: 999px) {
  #convertables {
    width: 300px;

    background-image: url("../img/shape_new_rectangle.svg");
  }

  #paragraph {
    left: 70px;
  }

  #new_frame {
    top: 673px;
    left: -183px;
    width: 40%;
    height: 40%;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: -142px;
    left: 60px;
  }

  .car_new {
    left: -28%;
    top: 95%;
  }

  #map_div {
    width: 25%;
    left: 164px;
  }

  #bg-image {
    padding-bottom: 27%;
  }

  #perspective_btn {
    top: -40px;
    background: #861a61;
    transform-style: preserve-3d;
    border-radius: 50px 50px 50px 50px;
    outline: 1px solid transparent;
    width: 150px;
    height: 50px;
  }

  #automobiles_anchor {
    font-size: 10px;
  }

  #button_automobiles {
    display: none;
  }

  #automobiles_anchor_second {
    position: relative;
    left: 40px;
    top: 8px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 949px) {
  #convertables {
    width: 300px;
    padding-top: 9%;
    background-image: url("../img/shape_new_rectangle.svg");
  }

  #paragraph {
    left: 57px;
    line-height: 30px;
    top: -40px;
  }

  #new_frame {
    top: 635px;
    left: -175px;
    width: 40%;
    height: 40%;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: -170px;
    left: 60px;
  }

  .car_new {
    left: -28%;
    top: 90%;
  }

  #map_div {
    width: 25%;
    left: 164px;
  }

  #bg-image {
    padding-bottom: 26%;
  }

  .button_frame {
    width: 43%;
    left: 34.2%;
  }

  .car_frame2 {
    left: 30%;
  }

  #perspective_btn {
    top: -35px;
    left: 55%;
    background: #861a61;
    transform-style: preserve-3d;
    border-radius: 50px 50px 50px 50px;
    outline: 1px solid transparent;
    width: 150px;
    height: 50px;
  }

  #automobiles_anchor {
    font-size: 10px;
  }

  #button_automobiles {
    display: none;
  }

  #automobiles_anchor_second {
    position: relative;
    left: 40px;
    top: 8px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 899px) {
  #convertables {
    width: 350px;
    padding-top: 0%;
    background-image: url("../img/shape_new_rectangle.svg");
  }

  #paragraph {
    left: 55px;
    margin-top: 49px;
    top: 0px;
    width: 200px;
  }

  #new_frame {
    top: 635px;
    left: -175px;
    width: 40%;
    height: 40%;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: -170px;
    left: 60px;
  }

  .car_new {
    left: -28%;
    top: 95%;
  }

  #map_div {
    width: 25%;
    left: 164px;
  }

  #bg-image {
    padding-bottom: 28%;
  }

  .button_frame {
    width: 43%;
    left: 34.2%;
  }

  .car_frame2 {
    left: 30%;
  }

  .button_frame .one {
    width: 38px;
    height: 38px;
  }

  .button_frame .two {
    width: 38px;
    height: 38px;
  }

  .button_frame .three {
    width: 38px;
    height: 38px;
  }

  .button_frame .four {
    width: 38px;
    height: 38px;
  }

  #perspective_btn {
    top: -27px;
    background: #861a61;
    transform-style: preserve-3d;
    border-radius: 50px 50px 50px 50px;
    outline: 1px solid transparent;
    width: 127px;
    height: 50px;
    left: 189px;
  }

  #automobiles_anchor {
    font-size: 10px;
  }

  #button_automobiles {
    display: none;
  }

  #automobiles_anchor_second {
    position: relative;
    left: 40px;
    top: 8px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 799px) {
  #convertables {
    width: 300px;
    height: 284px;
    background-image: url("../img/shape_new_rectangle.svg");
  }

  #paragraph {
    left: 111px;
    margin-top: 49px;
    top: -97px;
  }

  #new_frame {
    top: 605px;
    left: -140px;
    width: 40%;
    height: 40%;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: -195px;
    left: 70px;
  }

  .car_new {
    left: -28%;
    top: 95%;
  }

  #map_div {
    width: 25%;
    left: 164px;
  }

  #bg-image {
    padding-bottom: 28%;
  }

  .button_frame {
    width: 43%;
    left: 34.2%;
    top: 102.5%;
    height: 9%;
  }

  .car_frame2 {
    left: 30%;
    top: 100%;
  }

  .button_frame .one {
    width: 38px;
    height: 38px;
  }

  .button_frame .two {
    width: 38px;
    height: 38px;
  }

  .button_frame .three {
    width: 38px;
    height: 38px;
  }

  .button_frame .four {
    width: 38px;
    height: 38px;
  }

  #shape_button {
    line-height: 22px;
    margin-bottom: 2px;
    width: 151px;
    font-size: 13px;
    margin-left: -40px;
  }

  #perspective_btn {
    left: 147px;
    top: -165px;
    background: #861a61;
    transform-style: preserve-3d;
    border-radius: 50px 50px 50px 50px;
    outline: 1px solid transparent;
    width: 150px;
    height: 50px;
  }

  #automobiles_anchor {
    font-size: 10px;
  }

  #button_automobiles {
    display: none;
  }

  #automobiles_anchor_second {
    position: relative;
    left: 40px;
    top: 8px;
  }
}

@media only screen and (max-width: 767px) {
  .learning_img {
    display: none;
  }
}