#particles_js {
    width: 100%;
    height: 100%;
    background-image: url(../img/without_shape1.png);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 950px;
  }
  
  .text {
    position: absolute;
    font-size: 5vw;
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    margin-top: 10%;
    left: 20%;
    transform: translate(-50%, -80%);
  }
  
  #image_banner_change1 {
    background-color: transparent;
    width: 80%;
    height: 80%;
    position: relative;
    top: 10%;
    left: 10%;
  }

  .container_banner {
    height: 800px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    float: left;
  }

  .image_change
{
  position: relative;
  margin-top: 100px;
  top: 50%;
  left: 68%;
  background-color: transparent;
  height: 350px;
  width: 500px;
}

@media only screen and (min-width:1800px) and (max-width: 1920px)
{
    .image_change
    {
        left: 68%;
    }
}
@media only screen and (min-width:1921px) and (max-width: 2000px)
{
    .image_change
    {
        left: 68%;
    }

    .footer_part .single_footer_part h4
{
  font-size: 30px;
}
.footer_part .single_footer_part p
{
  font-size: 30px;
}
.list-unstyled
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part input
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part .email_icon
{
  width: 90px;
  height: 65px;
}
.far
{
  font-size: 30px;
}
.footer_part img
{
  width: auto;
  height: 60px;
  padding-bottom: 0px;
  margin-top: -150px;
}
#about_us_id
{
  margin-top: -20px;
}
}
@media only screen and (min-width:2001px) and (max-width: 2100px)
{
    .image_change
    {
        left: 69%;
    }
    .text
    {
        margin-top: 10%;
        margin-left: 15%;
    }
    .footer_part .single_footer_part h4
{
  font-size: 30px;
}
.footer_part .single_footer_part p
{
  font-size: 30px;
}
.list-unstyled
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part input
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part .email_icon
{
  width: 90px;
  height: 65px;
}
.far
{
  font-size: 30px;
}
.footer_part img
{
  width: auto;
  height: 60px;
  padding-bottom: 0px;
  margin-top: -150px;
}
#about_us_id
{
  margin-top: -20px;
}
}
@media only screen and (min-width:2101px) and (max-width: 2200px)
{
    .image_change
    {
        left: 71%;
    }
    .text
    {
        margin-top: 10%;
        margin-left: 15%;
    }
    #particles_js
    {
        height: 1300px;
    }
    .footer_part .single_footer_part h4
{
  font-size: 30px;
}
.footer_part .single_footer_part p
{
  font-size: 30px;
}
.list-unstyled
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part input
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part .email_icon
{
  width: 90px;
  height: 65px;
}
.far
{
  font-size: 30px;
}
.footer_part img
{
  width: auto;
  height: 60px;
  padding-bottom: 0px;
  margin-top: -150px;
}
#about_us_id
{
  margin-top: -20px;
}
}
@media only screen and (min-width:2201px) and (max-width: 2300px)
{
    .image_change
    {
        left: 71%;
    }
    .text
    {
        margin-top: 10%;
        margin-left: 15%;
    }
    #particles_js
    {
        height: 1300px;
    }
    .footer_part .single_footer_part h4
{
  font-size: 30px;
}
.footer_part .single_footer_part p
{
  font-size: 30px;
}
.list-unstyled
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part input
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part .email_icon
{
  width: 90px;
  height: 65px;
}
.far
{
  font-size: 30px;
}
.footer_part img
{
  width: auto;
  height: 60px;
  padding-bottom: 0px;
  margin-top: -150px;
}
#about_us_id
{
  margin-top: -20px;
}
}
@media only screen and (min-width:2301px) and (max-width: 2400px)
{
    .image_change
    {
        left: 71%;
    }
    .text
    {
        margin-top: 10%;
        margin-left: 15%;
    }
    #particles_js
    {
        height: 1350px;
    }

    #image_banner_change1
    {
        width: 80%;
        height: auto;
    }
    #image_banner_change2
    {
        width: 100%;
        height: auto;
        left: 80px;
    }
    #image_banner_change3
    {
        width: 100%;
        height: auto;
    }
    .footer_part .single_footer_part h4
{
  font-size: 30px;
}
.footer_part .single_footer_part p
{
  font-size: 30px;
}
.list-unstyled
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part input
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part .email_icon
{
  width: 90px;
  height: 65px;
}
.far
{
  font-size: 30px;
}
.footer_part img
{
  width: auto;
  height: 60px;
  padding-bottom: 0px;
  margin-top: -150px;
}
#about_us_id
{
  margin-top: -20px;
}
}

@media only screen and (min-width:2401px) and (max-width: 2500px)
{
    .image_change
    {
        left: 71%;
    }
    .text
    {
        margin-top: 10%;
        margin-left: 15%;
    }
    #particles_js
    {
        height: 1410px;
    }

    #image_banner_change1
    {
        width: 85%;
        height: auto;
    }
    #image_banner_change2
    {
        width: 100%;
        height: auto;
    }
    #image_banner_change3
    {
        width: 100%;
        height: auto;
    }
    .footer_part .single_footer_part h4
{
  font-size: 30px;
}
.footer_part .single_footer_part p
{
  font-size: 30px;
}
.list-unstyled
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part input
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part .email_icon
{
  width: 90px;
  height: 65px;
}
.far
{
  font-size: 30px;
}
.footer_part img
{
  width: auto;
  height: 60px;
  padding-bottom: 0px;
  margin-top: -150px;
}
#about_us_id
{
  margin-top: -20px;
}
}
@media only screen and (min-width:2501px) and (max-width: 2600px)
{
    .image_change
    {
        left: 71%;
        height: 450px;
        width: 550px;
    }
    .text
    {
        margin-top: 10%;
        margin-left: 15%;
    }
    #particles_js
    {
        height: 1450px;
    }

    #image_banner_change1
    {
        width: 80%;
        height: auto;
    }
    #image_banner_change2
    {
        width: 100%;
        height: auto;
    }
    #image_banner_change3
    {
        width: 100%;
        height: auto;
    }
    .main_menu .main-menu-item ul li .nav-link
    {
        font-size: 25px;
    }
    .main_menu .navbar-brand>img
    {
        width:100%;
        height:auto;
        padding-left: 20px;
    }
    .footer_part .single_footer_part h4
{
  font-size: 30px;
}
.footer_part .single_footer_part p
{
  font-size: 30px;
}
.list-unstyled
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part input
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part .email_icon
{
  width: 90px;
  height: 65px;
}
.far
{
  font-size: 30px;
}
.footer_part img
{
  width: auto;
  height: 60px;
  padding-bottom: 0px;
  margin-top: -150px;
}
#about_us_id
{
  margin-top: -20px;
}
}
@media only screen and (min-width:2601px) and (max-width: 2700px)
{
    .image_change
    {
        left: 73.5%;
        margin-top: 10%;
        height: 450px;
        width: 550px;
    }
    .text
    {
        margin-top: 10%;
        margin-left: 15%;
    }
    #particles_js
    {
        height: 1600px;
    }

    #image_banner_change1
    {
        width: 80%;
        height: auto;
    }
    #image_banner_change2
    {
        width: 100%;
        height: auto;
    }
    #image_banner_change3
    {
        width: 100%;
        height: auto;
    }
    .main_menu .main-menu-item ul li .nav-link
    {
        font-size: 25px;
    }
    .main_menu .navbar-brand>img
    {
        width:100%;
        height:auto;
        padding-left: 20px;
    }
    .footer_part .single_footer_part h4
{
  font-size: 30px;
}
.footer_part .single_footer_part p
{
  font-size: 30px;
}
.list-unstyled
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part input
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part .email_icon
{
  width: 90px;
  height: 65px;
}
.far
{
  font-size: 30px;
}
.footer_part img
{
  width: auto;
  height: 60px;
  padding-bottom: 0px;
  margin-top: -150px;
}
#about_us_id
{
  margin-top: -20px;
}
}
@media only screen and (min-width:2701px) and (max-width: 2800px)
{
    .image_change
    {
        left: 73.5%;
        margin-top: 10%;
        height: 450px;
        width: 550px;
    }
    .text
    {
        margin-top: 10%;
        margin-left: 15%;
    }
    #particles_js
    {
        height: 1700px;
    }

    #image_banner_change1
    {
        width: 90%;
        height: auto;
    }
    #image_banner_change2
    {
        width: 110%;
        height: auto;
    }
    #image_banner_change3
    {
        width: 110%;
        height: auto;
    }
    .main_menu .main-menu-item ul li .nav-link
    {
        font-size: 25px;
    }
    .main_menu .navbar-brand>img
    {
        width:100%;
        height:auto;
        padding-left: 20px;
    }
.footer_part .single_footer_part h4
{
  font-size: 30px;
}
.footer_part .single_footer_part p
{
  font-size: 30px;
}
.list-unstyled
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part input
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part .email_icon
{
  width: 90px;
  height: 65px;
}
.far
{
  font-size: 30px;
}
.footer_part img
{
  width: auto;
  height: 60px;
  padding-bottom: 0px;
  margin-top: -150px;
}
#about_us_id
{
  margin-top: -20px;
}
.waves
{
    height: 5vh;
}

}
@media only screen and (min-width:2801px) and (max-width: 2900px)
{
    .image_change
    {
        left: 72.5%;
        margin-top: 10%;
        height: 450px;
        width: 550px;
    }
    .text
    {
        margin-top: 10%;
        margin-left: 15%;
    }
    #particles_js
    {
        height: 1650px;
    }

    #image_banner_change1
    {
        width: 80%;
        height: auto;
    }
    #image_banner_change2
    {
        width: 100%;
        height: auto;
    }
    #image_banner_change3
    {
        width: 100%;
        height: auto;
    }
    .main_menu .main-menu-item ul li .nav-link
    {
        font-size: 25px;
    }
    .main_menu .navbar-brand>img
    {
        width:100%;
        height:auto;
        padding-left: 20px;
    }
    .footer_part .single_footer_part h4
{
  font-size: 30px;
}
.footer_part .single_footer_part p
{
  font-size: 30px;
}
.list-unstyled
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part input
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part .email_icon
{
  width: 90px;
  height: 65px;
}
.far
{
  font-size: 30px;
}
.footer_part img
{
  width: auto;
  height: 60px;
  padding-bottom: 0px;
  margin-top: -150px;
}
#about_us_id
{
  margin-top: -20px;
}
.waves
{
    height: 5vh;
}
}
@media only screen and (min-width:2901px) and (max-width: 3000px)
{
    .image_change
    {
        left: 72.5%;
        margin-top: 10%;
        height: 450px;
        width: 550px;
    }
    .text
    {
        margin-top: 10%;
        margin-left: 15%;
    }
    #particles_js
    {
        height: 1700px;
    }

    #image_banner_change1
    {
        width: 80%;
        height: auto;
    }
    #image_banner_change2
    {
        width: 100%;
        height: auto;
    }
    #image_banner_change3
    {
        width: 100%;
        height: auto;
    }
    .main_menu .main-menu-item ul li .nav-link
    {
        font-size: 25px;
    }
    .main_menu .navbar-brand>img
    {
        width:100%;
        height:auto;
        padding-left: 20px;
    }
    .footer_part .single_footer_part h4
{
  font-size: 30px;
}
.footer_part .single_footer_part p
{
  font-size: 30px;
}
.list-unstyled
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part input
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part .email_icon
{
  width: 90px;
  height: 65px;
}
.far
{
  font-size: 30px;
}
.footer_part img
{
  width: auto;
  height: 60px;
  padding-bottom: 0px;
  margin-top: -150px;
}
#about_us_id
{
  margin-top: -20px;
}
.waves
{
    height: 5vh;
}
}
@media only screen and (min-width:3001px) and (max-width: 3100px)
{
    .image_change
    {
        left: 73.5%;
        margin-top: 10%;
        height: 450px;
        width: 550px;
    }
    .text
    {
        margin-top: 10%;
        margin-left: 15%;
    }
    #particles_js
    {
        height: 1750px;
    }

    #image_banner_change1
    {
        width: 80%;
        height: auto;
    }
    #image_banner_change2
    {
        width: 100%;
        height: auto;
    }
    #image_banner_change3
    {
        width: 100%;
        height: auto;
    }
    .main_menu .main-menu-item ul li .nav-link
    {
        font-size: 25px;
    }
    .main_menu .navbar-brand>img
    {
        width:100%;
        height:auto;
        padding-left: 20px;
    }
    .footer_part .single_footer_part h4
{
  font-size: 30px;
}
.footer_part .single_footer_part p
{
  font-size: 30px;
}
.list-unstyled
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part input
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part .email_icon
{
  width: 90px;
  height: 65px;
}
.far
{
  font-size: 30px;
}
.footer_part img
{
  width: auto;
  height: 60px;
  padding-bottom: 0px;
  margin-top: -150px;
}
#about_us_id
{
  margin-top: -20px;
}
.waves
{
    height: 5vh;
}
}
@media only screen and (min-width:3101px) and (max-width: 3200px)
{
    .image_change
    {
        left: 73.5%;
        margin-top: 10%;
        height: 450px;
        width: 550px;
    }
    .text
    {
        margin-top: 10%;
        margin-left: 15%;
    }
    #particles_js
    {
        height: 1800px;
    }

    #image_banner_change1
    {
        width: 80%;
        height: auto;
    }
    #image_banner_change2
    {
        width: 100%;
        height: auto;
    }
    #image_banner_change3
    {
        width: 100%;
        height: auto;
    }
    .main_menu .main-menu-item ul li .nav-link
    {
        font-size: 25px;
    }
    .main_menu .navbar-brand>img
    {
        width:100%;
        height:auto;
        padding-left: 20px;
    }
    .footer_part .single_footer_part h4
{
  font-size: 30px;
}
.footer_part .single_footer_part p
{
  font-size: 30px;
}
.list-unstyled
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part input
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part .email_icon
{
  width: 90px;
  height: 65px;
}
.far
{
  font-size: 30px;
}
.footer_part img
{
  width: auto;
  height: 60px;
  padding-bottom: 0px;
  margin-top: -150px;
}
#about_us_id
{
  margin-top: -20px;
}
.waves
{
    height: 5vh;
}
}
@media only screen and (min-width:3201px) and (max-width: 3300px)
{
    .image_change
    {
        left: 68.5%;
        margin-top: 10%;
        height: 650px;
        width: 850px;
    }
    .text
    {
        margin-top: 10%;
        margin-left: 15%;
    }
    #particles_js
    {
        height: 1850px;
    }

    #image_banner_change1
    {
        width: 80%;
        height: auto;
    }
    #image_banner_change2
    {
        width: 100%;
        height: auto;
    }
    #image_banner_change3
    {
        width: 100%;
        height: auto;
    }
    .main_menu .main-menu-item ul li .nav-link
    {
        font-size: 25px;
    }
    .main_menu .navbar-brand>img
    {
        width:100%;
        height:auto;
        padding-left: 20px;
    }
    .footer_part .single_footer_part h4
{
  font-size: 30px;
}
.footer_part .single_footer_part p
{
  font-size: 30px;
}
.list-unstyled
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part input
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part .email_icon
{
  width: 90px;
  height: 65px;
}
.far
{
  font-size: 30px;
}
.footer_part img
{
  width: auto;
  height: 60px;
  padding-bottom: 0px;
  margin-top: -150px;
}
#about_us_id
{
  margin-top: -20px;
}
.waves
{
    height: 5vh;
}
}
@media only screen and (min-width:3301px) and (max-width: 3400px)
{
    .image_change
    {
        left: 68.5%;
        margin-top: 10%;
        height: 650px;
        width: 850px;
    }
    .text
    {
        margin-top: 10%;
        margin-left: 15%;
    }
    #particles_js
    {
        height: 1900px;
    }

    #image_banner_change1
    {
        width: 80%;
        height: auto;
    }
    #image_banner_change2
    {
        width: 100%;
        height: auto;
    }
    #image_banner_change3
    {
        width: 100%;
        height: auto;
    }
    .main_menu .main-menu-item ul li .nav-link
    {
        font-size: 30px;
    }
    .main_menu .navbar-brand>img
    {
        width:100%;
        height:auto;
        padding-left: 20px;
    }
    .footer_part .single_footer_part h4
{
  font-size: 30px;
}
.footer_part .single_footer_part p
{
  font-size: 30px;
}
.list-unstyled
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part input
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part .email_icon
{
  width: 90px;
  height: 65px;
}
.far
{
  font-size: 30px;
}
.footer_part img
{
  width: auto;
  height: 60px;
  padding-bottom: 0px;
  margin-top: -150px;
}
#about_us_id
{
  margin-top: -20px;
}
.waves
{
    height: 5vh;
}
}
@media only screen and (min-width:3401px) and (max-width: 3500px)
{
    .image_change
    {
        left: 68.5%;
        margin-top: 10%;
        height: 650px;
        width: 850px;
    }
    .text
    {
        margin-top: 10%;
        margin-left: 15%;
    }
    #particles_js
    {
        height: 1950px;
    }

    #image_banner_change1
    {
        width: 80%;
        height: auto;
    }
    #image_banner_change2
    {
        width: 100%;
        height: auto;
    }
    #image_banner_change3
    {
        width: 100%;
        height: auto;
    }
    .main_menu .main-menu-item ul li .nav-link
    {
        font-size: 30px;
    }
    .main_menu .navbar-brand>img
    {
        width:100%;
        height:auto;
        padding-left: 80px;
    }
    .footer_part .single_footer_part h4
{
  font-size: 30px;
}
.footer_part .single_footer_part p
{
  font-size: 30px;
}
.list-unstyled
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part input
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part .email_icon
{
  width: 90px;
  height: 65px;
}
.far
{
  font-size: 30px;
}
.footer_part img
{
  width: auto;
  height: 60px;
  padding-bottom: 0px;
  margin-top: -150px;
}
#about_us_id
{
  margin-top: -20px;
}
.waves
{
    height: 5vh;
}
}
@media only screen and (min-width:3501px) and (max-width: 3600px)
{
    .image_change
    {
        left: 68.5%;
        margin-top: 10%;
        height: 650px;
        width: 850px;
    }
    .text
    {
        margin-top: 10%;
        margin-left: 15%;
    }
    #particles_js
    {
        height: 2000px;
    }

    #image_banner_change1
    {
        width: 80%;
        height: auto;
    }
    #image_banner_change2
    {
        width: 100%;
        height: auto;
    }
    #image_banner_change3
    {
        width: 100%;
        height: auto;
    }
    .main_menu .main-menu-item ul li .nav-link
    {
        font-size: 30px;
    }
    .main_menu .navbar-brand>img
    {
        width:100%;
        height:auto;
        padding-left: 80px;
    }
    .footer_part .single_footer_part h4
{
  font-size: 30px;
}
.footer_part .single_footer_part p
{
  font-size: 30px;
}
.list-unstyled
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part input
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part .email_icon
{
  width: 90px;
  height: 65px;
}
.far
{
  font-size: 30px;
}
.footer_part img
{
  width: auto;
  height: 60px;
  padding-bottom: 0px;
  margin-top: -150px;
}
#about_us_id
{
  margin-top: -20px;
}
.waves
{
    height: 5vh;
}
}
@media only screen and (min-width:3601px) and (max-width: 3700px)
{
    .image_change
    {
        left: 68.5%;
        margin-top: 10%;
        height: 650px;
        width: 850px;
    }
    .text
    {
        margin-top: 10%;
        margin-left: 15%;
    }
    #particles_js
    {
        height: 2100px;
    }

    #image_banner_change1
    {
        width: 80%;
        height: auto;
    }
    #image_banner_change2
    {
        width: 100%;
        height: auto;
    }
    #image_banner_change3
    {
        width: 100%;
        height: auto;
    }
    .main_menu .main-menu-item ul li .nav-link
    {
        font-size: 30px;
    }
    .main_menu .navbar-brand>img
    {
        width:100%;
        height:auto;
        padding-left: 80px;
    }
    .container
    {
        max-width: 80%;
    }
    .footer_part .single_footer_part h4
{
  font-size: 30px;
}
.footer_part .single_footer_part p
{
  font-size: 30px;
}
.list-unstyled
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part input
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part .email_icon
{
  width: 90px;
  height: 65px;
}
.far
{
  font-size: 30px;
}
.footer_part img
{
  width: auto;
  height: 60px;
  padding-bottom: 0px;
  margin-top: -150px;
}
#about_us_id
{
  margin-top: -20px;
}
.waves
{
    height: 5vh;
}
}
@media only screen and (min-width:3701px) and (max-width: 3800px)
{
    .image_change
    {
        left: 70.5%;
        margin-top: 10%;
        height: 650px;
        width: 850px;
    }
    .text
    {
        margin-top: 10%;
        margin-left: 15%;
    }
    #particles_js
    {
        height: 2150px;
    }

    #image_banner_change1
    {
        width: 80%;
        height: auto;
    }
    #image_banner_change2
    {
        width: 100%;
        height: auto;
    }
    #image_banner_change3
    {
        width: 100%;
        height: auto;
    }
    .main_menu .main-menu-item ul li .nav-link
    {
        font-size: 30px;
    }
    .main_menu .navbar-brand>img
    {
        width:100%;
        height:auto;
        padding-left: 80px;
    }
    .container
    {
        max-width: 80%;
    }
    .footer_part .single_footer_part h4
{
  font-size: 30px;
}
.footer_part .single_footer_part p
{
  font-size: 30px;
}
.list-unstyled
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part input
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part .email_icon
{
  width: 90px;
  height: 65px;
}
.far
{
  font-size: 30px;
}
.footer_part img
{
  width: auto;
  height: 60px;
  padding-bottom: 0px;
  margin-top: -150px;
}
#about_us_id
{
  margin-top: -20px;
}
.waves
{
    height: 5vh;
}
}
@media only screen and (min-width:3801px) and (max-width: 3900px)
{
    .image_change
    {
        left: 70.5%;
        margin-top: 10%;
        height: 650px;
        width: 850px;
    }
    .text
    {
        margin-top: 10%;
        margin-left: 15%;
    }
    #particles_js
    {
        height: 2200px;
    }

    #image_banner_change1
    {
        width: 80%;
        height: auto;
    }
    #image_banner_change2
    {
        width: 100%;
        height: auto;
    }
    #image_banner_change3
    {
        width: 100%;
        height: auto;
    }
    .main_menu .main-menu-item ul li .nav-link
    {
        font-size: 30px;
    }
    .main_menu .navbar-brand>img
    {
        width:100%;
        height:auto;
        padding-left: 80px;
    }
    .container
    {
        max-width: 80%;
    }
    .footer_part .single_footer_part h4
{
  font-size: 30px;
}
.footer_part .single_footer_part p
{
  font-size: 30px;
}
.list-unstyled
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part input
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part .email_icon
{
  width: 90px;
  height: 65px;
}
.far
{
  font-size: 30px;
}
.footer_part img
{
  width: auto;
  height: 60px;
  padding-bottom: 0px;
  margin-top: -150px;
}
#about_us_id
{
  margin-top: -20px;
}
.waves
{
    height: 5vh;
}
}
@media only screen and (min-width:3901px) and (max-width: 4000px)
{
    .image_change
    {
        left: 70.5%;
        margin-top: 10%;
        height: 650px;
        width: 850px;
    }
    .text
    {
        margin-top: 10%;
        margin-left: 15%;
    }
    #particles_js
    {
        height: 2250px;
    }

    #image_banner_change1
    {
        width: 80%;
        height: auto;
    }
    #image_banner_change2
    {
        width: 100%;
        height: auto;
    }
    #image_banner_change3
    {
        width: 100%;
        height: auto;
    }
    .main_menu .main-menu-item ul li .nav-link
    {
        font-size: 30px;
    }
    .main_menu .navbar-brand>img
    {
        width:100%;
        height:auto;
        padding-left: 80px;
    }
    .container
    {
        max-width: 80%;
    }
    .footer_part .single_footer_part h4
{
  font-size: 30px;
}
.footer_part .single_footer_part p
{
  font-size: 30px;
}
.list-unstyled
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part input
{
  font-size: 30px;
}
.footer_part .single_footer_part .mail_part .email_icon
{
  width: 90px;
  height: 65px;
}
.far
{
  font-size: 30px;
}
.footer_part img
{
  width: auto;
  height: 60px;
  padding-bottom: 0px;
  margin-top: -150px;
}
#about_us_id
{
  margin-top: -20px;
}
.waves
{
    height: 5vh;
}
}
@media only screen and (min-width:4001px) and (max-width: 4100px)
{
    .image_change
    {
        left: 67.5%;
        margin-top: 10%;
        height: 850px;
        width: 1050px;
    }
    .text
    {
        margin-top: 10%;
        margin-left: 15%;
    }
    #particles_js
    {
        height: 2300px;
    }

    #image_banner_change1
    {
        width: 80%;
        height: auto;
    }
    #image_banner_change2
    {
        width: 100%;
        height: auto;
    }
    #image_banner_change3
    {
        width: 100%;
        height: auto;
    }
    .main_menu .main-menu-item ul li .nav-link
    {
        font-size: 35px;
    }
    .main_menu .navbar-brand>img
    {
        width:100%;
        height:auto;
        padding-left: 80px;
    }
    .container
                {
                  max-width: 80%;
                }
                .footer_part .single_footer_part h4
                {
                  font-size: 60px;
                }
                .footer_part .single_footer_part p
                {
                  font-size: 50px;
                }
                .list-unstyled
                {
                  font-size: 50px;
                }
                .footer_part .single_footer_part .mail_part input
                {
                  font-size: 50px;
                }
                .footer_part .single_footer_part .mail_part .email_icon
                {
                  width: 150px;
                  height: 92px;
                }
                .far
                {
                  font-size: 50px;
                }
                .waves
                {
                  height: 5vh;
                }
                .footer_part img
                {
                  width: auto;
                  height: 60px;
                  padding-bottom: 0px;
                  margin-top: -150px;
                }
                #about_us_id
                {
                  margin-top: -20px;
                }
}
@media only screen and (min-width:4101px) and (max-width: 4200px)
{
    .image_change
    {
        left: 67.5%;
        margin-top: 10%;
        height: 850px;
        width: 1050px;
    }
    .text
    {
        margin-top: 10%;
        margin-left: 15%;
    }
    #particles_js
    {
        height: 2350px;
    }

    #image_banner_change1
    {
        width: 80%;
        height: auto;
    }
    #image_banner_change2
    {
        width: 100%;
        height: auto;
    }
    #image_banner_change3
    {
        width: 100%;
        height: auto;
    }
    .main_menu .main-menu-item ul li .nav-link
    {
        font-size: 35px;
    }
    .main_menu .navbar-brand>img
    {
        width:100%;
        height:auto;
        padding-left: 80px;
    }
    .container
                {
                  max-width: 80%;
                }
                .footer_part .single_footer_part h4
                {
                  font-size: 60px;
                }
                .footer_part .single_footer_part p
                {
                  font-size: 50px;
                }
                .list-unstyled
                {
                  font-size: 50px;
                }
                .footer_part .single_footer_part .mail_part input
                {
                  font-size: 50px;
                }
                .footer_part .single_footer_part .mail_part .email_icon
                {
                  width: 150px;
                  height: 92px;
                }
                .far
                {
                  font-size: 50px;
                }
                .waves
                {
                  height: 5vh;
                }
                .footer_part img
                {
                  width: auto;
                  height: 60px;
                  padding-bottom: 0px;
                  margin-top: -150px;
                }
                #about_us_id
                {
                  margin-top: -20px;
                }
}
@media only screen and (min-width:4201px) and (max-width: 4300px)
{
    .image_change
    {
        left: 67.5%;
        margin-top: 10%;
        height: 850px;
        width: 1050px;
    }
    .text
    {
        margin-top: 10%;
        margin-left: 15%;
    }
    #particles_js
    {
        height: 2400px;
    }

    #image_banner_change1
    {
        width: 80%;
        height: auto;
    }
    #image_banner_change2
    {
        width: 100%;
        height: auto;
    }
    #image_banner_change3
    {
        width: 100%;
        height: auto;
    }
    .main_menu .main-menu-item ul li .nav-link
    {
        font-size: 35px;
    }
    .main_menu .navbar-brand>img
    {
        width:100%;
        height:auto;
        padding-left: 80px;
    }
            .container
                {
                  max-width: 80%;
                }
                .footer_part .single_footer_part h4
                {
                  font-size: 60px;
                }
                .footer_part .single_footer_part p
                {
                  font-size: 50px;
                }
                .list-unstyled
                {
                  font-size: 50px;
                }
                .footer_part .single_footer_part .mail_part input
                {
                  font-size: 50px;
                }
                .footer_part .single_footer_part .mail_part .email_icon
                {
                  width: 150px;
                  height: 92px;
                }
                .far
                {
                  font-size: 50px;
                }
                .waves
                {
                  height: 5vh;
                }
                .footer_part img
                {
                  width: auto;
                  height: 60px;
                  padding-bottom: 0px;
                  margin-top: -150px;
                }
                #about_us_id
                {
                  margin-top: -20px;
                }
    
}
@media only screen and (min-width:4301px) and (max-width: 4400px)
{
    .image_change
    {
        left: 69.5%;
        margin-top: 10%;
        height: 850px;
        width: 1050px;
    }
    .text
    {
        margin-top: 10%;
        margin-left: 15%;
    }
    #particles_js
    {
        height: 2500px;
    }

    #image_banner_change1
    {
        width: 80%;
        height: auto;
    }
    #image_banner_change2
    {
        width: 100%;
        height: auto;
    }
    #image_banner_change3
    {
        width: 100%;
        height: auto;
    }
    .main_menu .main-menu-item ul li .nav-link
    {
        font-size: 35px;
    }
    .main_menu .navbar-brand>img
    {
        width:100%;
        height:auto;
        padding-left: 80px;
    }
    .container
                {
                  max-width: 80%;
                }
                .footer_part .single_footer_part h4
                {
                  font-size: 60px;
                }
                .footer_part .single_footer_part p
                {
                  font-size: 50px;
                }
                .list-unstyled
                {
                  font-size: 50px;
                }
                .footer_part .single_footer_part .mail_part input
                {
                  font-size: 50px;
                }
                .footer_part .single_footer_part .mail_part .email_icon
                {
                  width: 150px;
                  height: 92px;
                }
                .far
                {
                  font-size: 50px;
                }
                .waves
                {
                  height: 5vh;
                }
                .footer_part img
                {
                  width: auto;
                  height: 60px;
                  padding-bottom: 0px;
                  margin-top: -150px;
                }
                #about_us_id
                {
                  margin-top: -20px;
                }
}

@media only screen and (min-width:4701px) and (max-width: 4800px)
{
    .image_change
    {
        left: 68%;
        margin-top: 10%;
        height: 1050px;
        width: 1250px;
    }
    .text
    {
        margin-top: 10%;
        margin-left: 15%;
    }
    #particles_js
    {
        height: 2700px;
    }

    #image_banner_change1
    {
        width: 80%;
        height: auto;
    }
    #image_banner_change2
    {
        width: 100%;
        height: auto;
    }
    #image_banner_change3
    {
        width: 100%;
        height: auto;
    }
    .main_menu .main-menu-item ul li .nav-link
    {
        font-size: 35px;
    }
    .main_menu .navbar-brand>img
    {
        width:100%;
        height:auto;
        padding-left: 80px;
    }

    .container
                {
                  max-width: 80%;
                }
                .footer_part .single_footer_part h4
                {
                  font-size: 60px;
                }
                .footer_part .single_footer_part p
                {
                  font-size: 50px;
                }
                .list-unstyled
                {
                  font-size: 50px;
                }
                .footer_part .single_footer_part .mail_part input
                {
                  font-size: 50px;
                }
                .footer_part .single_footer_part .mail_part .email_icon
                {
                  width: 150px;
                  height: 92px;
                }
                .far
                {
                  font-size: 50px;
                }
                .waves
                {
                  height: 5vh;
                }
                .footer_part img
                {
                  width: auto;
                  height: 60px;
                  padding-bottom: 0px;
                  margin-top: -150px;
                }
                #about_us_id
                {
                  margin-top: -20px;
                }
}
@media only screen and (min-width:4801px) and (max-width: 4900px)
{
    .image_change
    {
        left: 69%;
        margin-top: 10%;
        height: 1050px;
        width: 1250px;
    }
    .text
    {
        margin-top: 10%;
        margin-left: 15%;
    }
    #particles_js
    {
        height: 2800px;
    }

    #image_banner_change1
    {
        width: 80%;
        height: auto;
    }
    #image_banner_change2
    {
        width: 100%;
        height: auto;
    }
    #image_banner_change3
    {
        width: 100%;
        height: auto;
    }
    .main_menu .main-menu-item ul li .nav-link
    {
        font-size: 40px;
    }
    .main_menu .navbar-brand>img
    {
        width:100%;
        height:auto;
        padding-left: 80px;
    }
    .container
                {
                  max-width: 80%;
                }
                .footer_part .single_footer_part h4
                {
                  font-size: 60px;
                }
                .footer_part .single_footer_part p
                {
                  font-size: 50px;
                }
                .list-unstyled
                {
                  font-size: 50px;
                }
                .footer_part .single_footer_part .mail_part input
                {
                  font-size: 50px;
                }
                .footer_part .single_footer_part .mail_part .email_icon
                {
                  width: 150px;
                  height: 92px;
                }
                .far
                {
                  font-size: 50px;
                }
                .waves
                {
                  height: 5vh;
                }
                .footer_part img
                {
                  width: auto;
                  height: 60px;
                  padding-bottom: 0px;
                  margin-top: -150px;
                }
                #about_us_id
                {
                  margin-top: -20px;
                }
}
@media only screen and (min-width:4901px) and (max-width: 5000px)
{
    .image_change
    {
        left: 68.5%;
        margin-top: 10%;
        height: 1050px;
        width: 1250px;
    }
    .text
    {
        margin-top: 10%;
        margin-left: 15%;
    }
    #particles_js
    {
        height: 2800px;
    }

    #image_banner_change1
    {
        width: 80%;
        height: auto;
    }
    #image_banner_change2
    {
        width: 100%;
        height: auto;
    }
    #image_banner_change3
    {
        width: 100%;
        height: auto;
    }
    .main_menu .main-menu-item ul li .nav-link
    {
        font-size: 40px;
    }
    .main_menu .navbar-brand>img
    {
        width:100%;
        height:auto;
        padding-left: 80px;
    }
    .container
                {
                  max-width: 80%;
                }
                .footer_part .single_footer_part h4
                {
                  font-size: 60px;
                }
                .footer_part .single_footer_part p
                {
                  font-size: 50px;
                }
                .list-unstyled
                {
                  font-size: 50px;
                }
                .footer_part .single_footer_part .mail_part input
                {
                  font-size: 50px;
                }
                .footer_part .single_footer_part .mail_part .email_icon
                {
                  width: 150px;
                  height: 92px;
                }
                .far
                {
                  font-size: 50px;
                }
                .waves
                {
                  height: 5vh;
                }
                .footer_part img
                {
                  width: auto;
                  height: 60px;
                  padding-bottom: 0px;
                  margin-top: -150px;
                }
                #about_us_id
                {
                  margin-top: -20px;
                }
}
@media only screen and (min-width:5001px) and (max-width: 5100px)
{
    .image_change
    {
        left: 69%;
        margin-top: 10%;
        height: 1050px;
        width: 1250px;
    }
    .text
    {
        margin-top: 10%;
        margin-left: 15%;
    }
    #particles_js
    {
        height: 2900px;
    }

    #image_banner_change1
    {
        width: 80%;
        height: auto;
    }
    #image_banner_change2
    {
        width: 100%;
        height: auto;
    }
    #image_banner_change3
    {
        width: 100%;
        height: auto;
    }
    .main_menu .main-menu-item ul li .nav-link
    {
        font-size: 40px;
    }
    .main_menu .navbar-brand>img
    {
        width:100%;
        height:auto;
        padding-left: 80px;
    }
    .container
                {
                  max-width: 80%;
                }
                .footer_part .single_footer_part h4
                {
                  font-size: 60px;
                }
                .footer_part .single_footer_part p
                {
                  font-size: 50px;
                }
                .list-unstyled
                {
                  font-size: 50px;
                }
                .footer_part .single_footer_part .mail_part input
                {
                  font-size: 50px;
                }
                .footer_part .single_footer_part .mail_part .email_icon
                {
                  width: 150px;
                  height: 92px;
                }
                .far
                {
                  font-size: 50px;
                }
                .waves
                {
                  height: 5vh;
                }
                .footer_part img
                {
                  width: auto;
                  height: 60px;
                  padding-bottom: 0px;
                  margin-top: -150px;
                }
                #about_us_id
                {
                  margin-top: -20px;
                }
}
@media only screen and (min-width:5101px) and (max-width: 5200px)
{
    .image_change
    {
        left: 69.5%;
        margin-top: 10%;
        height: 1050px;
        width: 1250px;
    }
    .text
    {
        margin-top: 10%;
        margin-left: 15%;
    }
    #particles_js
    {
        height: 2950px;
    }

    #image_banner_change1
    {
        width: 80%;
        height: auto;
    }
    #image_banner_change2
    {
        width: 100%;
        height: auto;
    }
    #image_banner_change3
    {
        width: 100%;
        height: auto;
    }
    .main_menu .main-menu-item ul li .nav-link
    {
        font-size: 40px;
    }
    .main_menu .navbar-brand>img
    {
        width:100%;
        height:auto;
        padding-left: 80px;
    }
    .container
                {
                  max-width: 80%;
                }
                .footer_part .single_footer_part h4
                {
                  font-size: 60px;
                }
                .footer_part .single_footer_part p
                {
                  font-size: 50px;
                }
                .list-unstyled
                {
                  font-size: 50px;
                }
                .footer_part .single_footer_part .mail_part input
                {
                  font-size: 50px;
                }
                .footer_part .single_footer_part .mail_part .email_icon
                {
                  width: 150px;
                  height: 92px;
                }
                .far
                {
                  font-size: 50px;
                }
                .waves
                {
                  height: 5vh;
                }
                .footer_part img
                {
                  width: auto;
                  height: 60px;
                  padding-bottom: 0px;
                  margin-top: -150px;
                }
                #about_us_id
                {
                  margin-top: -20px;
                }
}
@media only screen and (min-width:5201px) and (max-width: 5300px)
{
    .image_change
    {
        left: 68.5%;
        margin-top: 10%;
        height: 1050px;
        width: 1250px;
    }
    .text
    {
        margin-top: 10%;
        margin-left: 15%;
    }
    #particles_js
    {
        height: 3000px;
    }

    #image_banner_change1
    {
        width: 80%;
        height: auto;
    }
    #image_banner_change2
    {
        width: 100%;
        height: auto;
    }
    #image_banner_change3
    {
        width: 100%;
        height: auto;
    }
    .main_menu .main-menu-item ul li .nav-link
    {
        font-size: 40px;
    }
    .main_menu .navbar-brand>img
    {
        width:100%;
        height:auto;
        padding-left: 80px;
    }
    .container
                {
                  max-width: 80%;
                }
                .footer_part .single_footer_part h4
                {
                  font-size: 60px;
                }
                .footer_part .single_footer_part p
                {
                  font-size: 50px;
                }
                .list-unstyled
                {
                  font-size: 50px;
                }
                .footer_part .single_footer_part .mail_part input
                {
                  font-size: 50px;
                }
                .footer_part .single_footer_part .mail_part .email_icon
                {
                  width: 150px;
                  height: 92px;
                }
                .far
                {
                  font-size: 50px;
                }
                .waves
                {
                  height: 5vh;
                }
                .footer_part img
                {
                  width: auto;
                  height: 60px;
                  padding-bottom: 0px;
                  margin-top: -150px;
                }
                #about_us_id
                {
                  margin-top: -20px;
                }
}

@media only screen and (min-width:1150px) and (max-width: 1200px) 
{
  .image_change
{
  position: relative;
  margin-top: 100px;
  top: 50%;
  left: 70.5%;
  background-color: transparent;
  height: 350px;
  width: 500px;
}
}
@media only screen and (min-width:1000px) and (max-width: 1100px) 
{
  .image_change
{
  position: relative;
  margin-top: 100px;
  top: 50%;
  left: 75%;
  background-color: transparent;
  height: 300px;
  width: 400px;
}
}

@media only screen and (min-width:800px) and (max-width: 950px) 
{
  .image_change
{
  position: relative;
  margin-top: 100px;
  top: 50%;
  left: 82%;
  background-color: transparent;
  height: 300px;
  width: 400px;
}
}