body
{
  overflow-x: hidden;
  background-color: #e1dbda;
}
#letter_container
{
  background-color: white;
  background-image: url(../img/newletter_background.png);
  height: 500px;
}
#newsletter_textfield
{
  background-color: transparent;
  height: 100px;
}
#newsletter_button
{
  background-color: transparent;
  height: 100px;
}
li
{
  margin:0;
  padding-left: 50px;
}
#twitter_icon
{
  padding-left: 50px;
}
#facebook_icon
{
  padding-left: 500px;
}
#building_text
{
  position: absolute;
  top:15%;
  width: 45%;
  left: -5%;
  height: 80%;
  background-color: whitesmoke;
  border-radius: 0px 50px 450px 0px;
  transform:rotate(-5deg);
  border-top:10px solid grey; 
  border-right: 10px solid grey;

}
.footer_logo_iner
{
  position: absolute;
  top: -50%;
  left: 0px;
}
.cosmetics_container
{
  position: absolute;
  background-color: blue;
  height: 100%;
  width: 100%;
  top:121%;
}

#cosmetics_animation
{
  position: absolute;
  top: 6%;
  left: 50%;
  height: 75%;
  width: 45%;
  border-radius: 10px 10px 10px 10px;
}
.shoes_container
{
  position: absolute;
  height: 100%;
  width: 100%;
  top:232%;
}
#show_background
{
  position: absolute;
  height: 100%;
  width: 100%;
}

#automobiles_animation
{
  position: absolute;
  top: 36%;
  left: 55%;
  height: 50%;
  width: 25%;
  border-radius: 10px 10px 10px 10px;
}
#board
{
  position: absolute;
  top: 10%;
  width: 40%;
  height: 60%;
  background-color: blue;
}
#board_image
{
  position: relative;
  height: 100%;
  width: 100%;
}
#camera
{
  position: absolute;
  top: 10%;
  height: 80%;
  width: 60%;
  left: 40%;
  background-color: black;
}
#camera_image
{
  position: absolute;
  top: 10%;
  width: 100%;
  height: 50%;
}
#building_image_div
{
  position: absolute;
  background-color: transparent;
  height: 80%;
  width: 80%;
  right: 12%;
}
#building_image
{
  position: absolute;
  height: 100%;
  width: 100%;
  right: 40%;
}

#cosmetic_mobile_image
{
  position: absolute;
  width: 45%;
  height: 95%;
  left: 27%;
  top: 2%;
  border-radius: 10px 10px 10px 10px;
}
#selector_div
{
  position: absolute;
  height: 9.5%;
  width: 9.5%;
  top: 77.5%;
  left: 28.5%;
  border: 3px solid #464646;
}
#hand2_image
{
  position: absolute;
  width: 60%;
  height: 60%;
  top: 20%;
  left: 5%;
}

#hand3_image
{
  position: absolute;
  width: 60%;
  height: 60%;
  top: 20%;
  left: 5%;
}
#hand4_image
{
  position: absolute;
  width: 60%;
  height: 60%;
  top: 20%;
  left: 5%;
}
#hand1_image
{
  position: absolute;
  width: 60%;
  height: 60%;
  top: 20%;
  left: 5%;
}

#cosmetic_mobile_fit
{
position: absolute;
width: 50%;
height: 100%;
left: 25%;
}
#hand_image
{
  width: 100%;
  height: 100%;
  position: absolute;

}


#know_more
{
  position: absolute;
  background-color: transparent;
  top: 78%;
  left: 5%;
  height: 10%;
  width: 25%;

}
.text_shoes
{
position: absolute;
width: 50%;
overflow: hidden;
width: 40%;
top: 40%;
left: 3%;
}

.heading_content_shoes
{
  background-color: transparent;
  position: absolute;
  width: 39.9%;
  height: 13%;
  top: 25%;
  left: 11%;
  
}
#shoes_headline
{
  position: absolute;
  font-size: 50px;
  top: 10%;
  left: 20%;
  font-style: Arial;
}
a
{
  text-decoration: none;
  color: white;
}
a:hover
{
  text-decoration: none;
  color: white;
}
#about_ul
{
  text-decoration: none;
  list-style-type: none;
  position: absolute;
  left: 0%;
  top: 5%;
  padding: 0%;
  margin: 0%;
}
#about_us
{
position: relative;
left: 0%;
}
#terms
{
  position: relative;
  left: 18%;
}
#privacy
{
  position: relative;
  left: 10%;
}
#career
{
  position: relative;
  left: -6%;
}
#help
{
  text-decoration: none;
  list-style-type: none;
}
#queries_ul
{
  text-decoration: none;
  list-style-type: none;
  position: absolute;
  left: 30%;
  top: 5%;
  padding: 0%;
  margin: 0%;
}
#letter_subscribe
{
  position: absolute;
  left: 70%;
  top: 4%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
#queries_h2
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
#subscribe_letter_text
{
  position: relative;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px 5px 5px 5px;
}
#subscribe_letter_div
{
  position: absolute;
  right: 15%;
  top: 20%;
  width: 15%;
  border: none;
  border-radius: 5px 5px 5px 5px;
}
.tt-subscribe-submit
{
  position: absolute;
  background-color: black;
  height: 13.5%;
  width: 5%;
  right: 10%;
  top: 20%;
  border-radius: 5px 5px 5px 5px;
}
#kro-bc
{
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0%;
  background-color: #464646;
  border: none;
  border-radius: 5px 5px 5px 5px;
}
#msg_icon
{
  position: absolute;
  right:28%;
  top: 20%; 
  font-size: 30px;
}
/*
Banner Image
*/


