*{
    margin: 0;
    padding: 0;
   
}

.footwear-know-more{
    width: 100%;
    height: 100vh;


  }
.person{
  position: absolute;
  margin-top: 7%;
  margin-left: 8%;
  width: 14%;
  }
  
    .leftShoe{
      position: absolute;
      margin-top: 43.6%;
      margin-left: 7%;
      width: 7%;
    }
  
    .rightShoe{
      position: absolute;
      margin-top: 43.5%;
      margin-left: 15.1%;
      width: 7%;
    }
    .shoeTab{
      position: absolute;
      width: 24%;
      margin-top: 19%;
      margin-left: -29.9%;
    }
  
    .blackShoe{
      position: absolute;
      width: 11%;
      margin-left: 20%;
      margin-top: 30%;
      width: 50px;
      height: 50px;
    }
    #blackShoe
    {
      width: 100%;
      height: 100%;
      margin-left: 699%;
      margin-top: 66%;
    }
    .blueShoe{
      position: absolute;
      width: 11%;
      margin-left: 20%;
      margin-top: 34%;
      width: 50px;
      height: 50px;
    }
  #blueShoe
  {
    width: 100%;
    height: 100%;
    margin-left: 699%;
    margin-top: 66%;
  }
  
    .yellowShoe{
      position: absolute;
      width: 11%;
      margin-left: 20%;
      margin-top: 38%;
      width: 50px;
      height: 50px;
    }
    #yellowShoe
    {
      width: 100%;
    height: 100%;
    margin-left: 699%;
    margin-top: 66%;
    }
    .whiteShoe{
      position: absolute;
      width: 11%;
      margin-top: 42%;
      margin-left: 20%;
      width: 50px;
      height: 50px;
    }
    #whiteShoe
    {
      width: 100%;
    height: 100%;
    margin-left: 699%;
    margin-top: 66%;
    }
  



    @media only screen and (min-width: 1024px) and (max-width: 1365px){
      .shoeTab {
        position: absolute;
        width: 24%;
        margin-top: 15%;
        margin-left: -24.9%;
    }
    
    #blackShoe {
      width: 100%;
      height: 100%;
      margin-left: 340%;
  }
  #blueShoe {
    width: 100%;
    height: 100%;
    margin-left: 340%;
}
#yellowShoe {
  width: 100%;
  height: 100%;
  margin-left: 340%;
}
#whiteShoe {
  width: 100%;
  height: 100%;
  margin-left: 340%;
}

    }

    @media only screen and (min-width: 1500px) and (max-width: 1550px){
 
.leftShoe{
  position: absolute;
  margin-top: 43.6%;
  margin-left: 6.5%;
  width: 7%;
}

.rightShoe{
  position: absolute;
  margin-top: 43.5%;
  margin-left: 14.8%;
  width: 7%;
}

    }
