#pointing_hand
{
    position: absolute;
    top: 300px;
    left: 250px;
}

.about_us_text_cosmetic
{

    background-repeat: no-repeat;
    width: 500px;
    height: 400px;
    background-color: transparent;
}
#paragraph_cosmetics
{
position: relative;
width: auto;
top: 60px;
left: 0px;
}
#cosmetics_text
{
  position: relative;
  left: 13%;
  width: 80%;
  top: 55px;
}

.tab {
    position: absolute;
    margin-top: -25%;
    left: 19%;
    width: 60%;
}

.hand {
    position: absolute;
    right: 80%;
    margin-top: -10%;
    width: 90%;
}
.btn_perspective
{
    position: relative;
    top: 0px;
    left: 140px;

}

.slider1 {
    position: absolute;
    left: 30.5%;
    margin-top: 36%;
    border: solid 1px transparent;
    width: 8%;
    height: 60px;

}

.slider2 {
    position: absolute;
    left: 40.5%;
    margin-top: 36%;
    border: solid 1px transparent;
    width: 8%;
    height: 60px;


}

.slider3 {
    position: absolute;
    left: 50.4%;
    margin-top: 36%;
    border: solid 1px transparent;
    width: 8%;
    height: 60px;

}

.slider4 {
    position: absolute;
    left: 60%;
    margin-top: 36%;
    border: solid 1px transparent;
    width: 8%;
    height: 60px;

}

@media only screen and (min-width:1451px) and (max-width: 1550px)
{
    #pointing_hand
        {
            top: 280px;
            left: 280px;
        }
}

@media only screen and (min-width:1351px) and (max-width: 1450px)
{
    #pointing_hand
        {
            top: 280px;
            left: 280px;
        }
}

@media only screen and (min-width:1251px) and (max-width: 1350px)

{
    #pointing_hand
        {
            top: 280px;
            left: 280px;
        }
}
@media only screen and (min-width:1151px) and (max-width: 1250px)
{
    .about_us_text_cosmetic
    {
        position: relative;
        left: -50px;
    }
    #pointing_hand
        {
            top: 220px;
            left: 220px;
        }
}

@media only screen and (min-width:1051px) and (max-width: 1150px)
{
    .about_us_text_cosmetic
    {
        position: relative;
        left: -75px;
        width: 500px;
        height: 450px;
    }
       
  #perspective_btn_cosmetic {
    left: 205px;
    top: -125px;
    background: #861a61;
    transform-style: preserve-3d;
    border-radius: 50px 50px 50px 50px;
    outline: 1px solid transparent;
    width: 150px;
    height:50px
  }
  #cosmetic_anchor
  {
    font-size: 10px;
  }
 #button_cosmetic
 {
   display: none;
 }
 #cosmetic_anchor_second
 {
   position: relative;
   left: 40px;
   top: 8px;
 }
 #pointing_hand
 {
     top: 200px;
     left: 200px;
 }
}
@media only screen and (min-width:951px) and (max-width: 1050px)
{
    .about_us_text_cosmetic
    {
        top: 100px;
        position: relative;
        left: 50px;
    }
    #paragraph_cosmetics
    {
        left: -130px;
    }
    
  #perspective_btn_cosmetic {
    left: 205px;
    top: 100px;
    background: #861a61;
    transform-style: preserve-3d;
    border-radius: 50px 50px 50px 50px;
    outline: 1px solid transparent;
    width: 150px;
    height:50px
  }
  #cosmetic_anchor
  {
    font-size: 10px;
  }
 #button_cosmetic
 {
   display: none;
 }
 #cosmetic_anchor_second
 {
   position: relative;
   left: 40px;
   top: 8px;
 }
 #pointing_hand
 {
     top: 200px;
     left: 200px;
 }

}
@media only screen and (min-width:851px) and (max-width: 950px)
{
    .about_us_text_cosmetic
    {
        top: 100px;
        position: relative;
        left: 50px;
    }
    #paragraph_cosmetics
    {
        left: -130px;
        top: -10px;
    }
    
  #perspective_btn_cosmetic {
    left: 205px;
    top: 100px;
    background: #861a61;
    transform-style: preserve-3d;
    border-radius: 50px 50px 50px 50px;
    outline: 1px solid transparent;
    width: 150px;
    height:50px
  }
  #cosmetic_anchor
  {
    font-size: 10px;
  }
 #button_cosmetic
 {
   display: none;
 }
 #cosmetic_anchor_second
 {
   position: relative;
   left: 40px;
   top: 8px;
 }
 #pointing_hand
 {
     top: 150px;
     left: 150px;
 }

}
@media only screen and (min-width:768px) and (max-width: 850px)
{
    .about_us_text_cosmetic
    {
        top: 100px;
        position: relative;
        left: 0px;
    }
    #paragraph_cosmetics
    {
        left: -120px;
        top: -10px;
    }
    
  #perspective_btn_cosmetic {
    left: 205px;
    top: 100px;
    background: #861a61;
    transform-style: preserve-3d;
    border-radius: 50px 50px 50px 50px;
    outline: 1px solid transparent;
    width: 150px;
    height:50px
  }
  #cosmetic_anchor
  {
    font-size: 10px;
  }
 #button_cosmetic
 {
   display: none;
 }
 #cosmetic_anchor_second
 {
   position: relative;
   left: 40px;
   top: 8px;
 }
 #pointing_hand
 {
     top: 150px;
     left: 150px;
 }

}
@media only screen and (min-width:1400px) and (max-width: 1600px)
{
  .about_us_text_cosmetic
  {
    width: auto;
  }
  #paragraph_cosmetics {
    position: relative;
    width: auto;
    top: 67px;
    left: 0px;
}
  #cosmetics_text {
    position: relative;
    left: 13%;
    width: 80%;
    top: 115px;
    font-size: 18px;
}
#perspective_btn_cosmetic {
  top: 130px;
  left: 328px;
}
#pointing_hand
  {
    top: 334px;
    left: 327px;
  }
  #button_cosmetic {
    height: 100px;
    width: 209px;
    border-radius: 150px 150px 150px 150px;
}
#cosmetic_anchor
{
  font-size: 16px;
}
}
@media only screen and (min-width:1601px) and (max-width: 1800px)
{
  .about_us_text_cosmetic
  {
    width: auto;
  }
  #paragraph_cosmetics {
    position: relative;
    width: auto;
    top: 67px;
    left: 0px;
}
  #cosmetics_text {
    position: relative;
    left: 14%;
    width: 80%;
    top: 115px;
    font-size: 20px;
}
#perspective_btn_cosmetic {
  top: 169px;
  left: 211px;
}
#pointing_hand {
  top: 368px;
  left: 373px;
}
  #button_cosmetic{
    height: 100px;
    width: 209px;
    border-radius: 150px 150px 150px 150px;
}
#cosmetic_anchor
{
  font-size: 16px;
}
}
@media only screen and (min-width:1801px) and (max-width: 2000px)
{
  .about_us_text_cosmetic
  {
    width: auto;
  }
  #paragraph_cosmetics {
    position: relative;
    width: auto;
    top: 67px;
    left: 0px;
}
  #cosmetics_text {
    position: relative;
    left: 14%;
    width: 80%;
    top: 115px;
    font-size: 28px;
}
#perspective_btn_cosmetic {
  top: 234px;
  left: 411px;
}
#pointing_hand {
  top: 400px;
  left: 400px;
}
  #button_cosmetic{
    height: 100px;
    width: 209px;
    border-radius: 150px 150px 150px 150px;
}
#cosmetic_anchor
{
  font-size: 16px;
}
}
@media only screen and (min-width:2250px) and (max-width: 2400px)
{
  .about_us_text_cosmetic
  {
    width: auto;
  }
  #paragraph_cosmetics
  {
    position: relative;
    width: auto;
    top: -50px;
    left: 0px;
  }
  #cosmetics_text {
    position: relative;
    left: 13%;
    width: 80%;
    top: 115px;
    font-size: 28px;
}
#perspective_btn_cosmetic {
  top: 269px;
  left: 328px;
}
#pointing_hand
  {
    top: 500px;
    left: 500px;
  }
  #button_cosmetic
{
  height: 100px;
  width: 300px;
  border-radius: 150px 150px 150px 150px;
}
#cosmetic_anchor
{
  font-size: 25px;
}
}
@media only screen and (min-width:2401px) and (max-width: 2650px)
{
  .about_us_text_cosmetic
  {
    width: auto;
  }
  #paragraph_cosmetics
  {
    position: relative;
    width: auto;
    top: -50px;
    left: 0px;
  }
  #cosmetics_text {
    position: relative;
    left: 18%;
    width: 65%;
    top: 115px;
    font-size: 34px;
}
#pointing_hand
  {
    top: 550px;
    left: 550px;
  }
  #cosmatics_container
  {
    height: 1100px;
  }
  #perspective_btn_cosmetic {
    top: 381px;
    left: 629px;
}
#button_cosmetic
{
  height: 150px;
  width: 350px;
  border-radius: 150px 150px 150px 150px;
}
#cosmetic_anchor
{
  font-size: 30px;
}
}
@media only screen and (min-width:2651px) and (max-width: 2850px)
{
  .about_us_text_cosmetic
  {
    width: auto;
  }
  #paragraph_cosmetics
  {
    position: relative;
    width: auto;
    top: -50px;
    left: 0px;
  }
  #cosmetics_text {
    position: relative;
    left: 18%;
    width: 57%;
    top: 115px;
    font-size: 34px;
}
#pointing_hand
  {
    top: 650px;
    left: 650px;
  }
  #cosmatics_container
  {
    height: 1100px;
  }
  #perspective_btn_cosmetic {
    top: 445px;
    left: 692px;
}
#button_cosmetic
{
  height: 150px;
  width: 350px;
  border-radius: 150px 150px 150px 150px;
}
#cosmetic_anchor
{
  font-size: 35px;
}
}
@media only screen and (min-width:2851px) and (max-width: 3000px)
{
  .about_us_text_cosmetic
  {
    width: auto;
  }
  #paragraph_cosmetics
  {
    position: relative;
    width: auto;
    top: -50px;
    left: 0px;
  }
  #cosmetics_text {
    position: relative;
    left: 18%;
    width: 57%;
    top: 115px;
    font-size: 34px;
}
#pointing_hand
  {
    top: 650px;
    left: 650px;
  }
  #cosmatics_container
  {
    height: 1230px;
  }
  #perspective_btn_cosmetic {
    top: 498px;
    left: 741px;
}
#button_cosmetic
{
     width: 350px;
     height: 150px;
     border-radius: 150px 150px 150px 150px;
}
#cosmetic_anchor
{
  font-size: 35px;
}
}
@media only screen and (min-width:3001px) and (max-width: 3200px)
{
  .about_us_text_cosmetic
  {
    width: auto;
  }
  #paragraph_cosmetics
  {
    position: relative;
    width: auto;
    top: -50px;
    left: 0px;
  }
  #cosmetics_text {
    position: relative;
    left: 18%;
    width: 57%;
    top: 152px;
    font-size: 42px;
}
#pointing_hand
  {
    top: 750px;
    left: 750px;
  }
  #cosmatics_container
  {
    height: 1370px;
  }
  #perspective_btn_cosmetic {
    top: 566px;
    left: 789px;
}
#button_cosmetic
{
  height: 150px;
  width: 350px;
  border-radius: 150px 150px 150px 150px;
}
#cosmetic_anchor
{
  font-size: 35px;
}
}
@media only screen and (min-width:3201px) and (max-width: 3400px)
{
  .about_us_text_cosmetic
  {
    width: auto;
  }
  #paragraph_cosmetics
  {
    position: relative;
    width: auto;
    top: -50px;
    left: 0px;
  }
  #cosmetics_text {
    position: relative;
    left: 18%;
    width: 57%;
    top: 152px;
    font-size: 42px;
}
#pointing_hand
  {
    top: 750px;
    left: 750px;
  }
  #cosmatics_container
  {
    height: 1500px;
  }
  #perspective_btn_cosmetic {
    top: 635px;
    left: 870px;
}
#button_cosmetic
{
  height: 150px;
  width: 350px;
  border-radius: 150px 150px 150px 150px;
}
#cosmetic_anchor
{
  font-size: 35px;
}
}
@media only screen and (min-width:3401px) and (max-width: 3600px)
{
  .about_us_text_cosmetic
  {
    width: auto;
  }
  #paragraph_cosmetics
  {
    position: relative;
    width: auto;
    top: -50px;
    left: 0px;
  }
  #cosmetics_text {
    position: relative;
    left: 18%;
    width: 57%;
    top: 152px;
    font-size: 49px;
}
#pointing_hand
  {
    top: 850px;
    left: 850px;
  }
  #cosmatics_container
  {
    height: 1650px;
  }
  #perspective_btn_cosmetic {
    top: 711px;
    left: 939px;
}
#button_cosmetic
{
  height: 200px;
  width: 400px;
  border-radius: 150px 150px 150px 150px;
}
#cosmetic_anchor
{
  font-size: 45px;
}
}
@media only screen and (min-width:3601px) and (max-width: 3800px)
{
  .about_us_text_cosmetic
  {
    width: auto;
  }
  #paragraph_cosmetics
  {
    position: relative;
    width: auto;
    top: -50px;
    left: 0px;
  }
  #cosmetics_text {
    position: relative;
    left: 18%;
    width: 57%;
    top: 195px;
    font-size: 49px;
}
#pointing_hand
  {
    top: 850px;
    left: 850px;
  }
  #cosmatics_container
  {
    height: 1850px;
  }
  #perspective_btn_cosmetic {
    top: 776px;
    left: 994px;
}
#button_cosmetic
{
  height: 200px;
  width: 400px;
  border-radius: 150px 150px 150px 150px;
}
#cosmetic_anchor
{
  font-size: 45px;
}
}
@media only screen and (min-width:3801px) and (max-width: 4000px)
{
  .about_us_text_cosmetic
  {
    width: auto;
  }
  #paragraph_cosmetics
  {
    position: relative;
    width: auto;
    top: -50px;
    left: 0px;
  }
  #cosmetics_text {
    position: relative;
    left: 18%;
    width: 57%;
    top: 195px;
    font-size: 49px;
}
#pointing_hand
  {
    top: 950px;
    left: 950px;
  }
  #cosmatics_container
  {
    height: 1850px;
  }
  #perspective_btn_cosmetic {
    top: 771px;
    left: 921px;
}
#button_cosmetic
{
  height: 200px;
  width: 400px;
  border-radius: 150px 150px 150px 150px;
}
#cosmetic_anchor
{
  font-size: 50px;
}
}
@media only screen and (min-width:4001px) and (max-width: 4200px)
{
  .about_us_text_cosmetic
  {
    width: auto;
  }
  #paragraph_cosmetics
  {
    position: relative;
    width: auto;
    top: -50px;
    left: 0px;
  }
  #cosmetics_text {
    position: relative;
    left: 18%;
    width: 57%;
    top: 195px;
    font-size: 49px;
}
#pointing_hand
  {
    top: 950px;
    left: 950px;
  }
  #cosmatics_container
  {
    height: 2000px;
  }
  #perspective_btn_cosmetic {
    top: 826px;
    left: 944px;
}
#button_cosmetic {
  height: 200px;
  width: 442px;
  border-radius: 150px 150px 150px 150px;
}
#cosmetic_anchor
{
  font-size: 50px;
}
}
@media only screen and (min-width:4801px) and (max-width: 5000px)
{
  .about_us_text_cosmetic
  {
    width: auto;
  }
  #paragraph_cosmetics {
    position: relative;
    width: auto;
    top: -357px;
    left: 0px;
}
#cosmetics_text {
  position: relative;
  left: 18%;
  width: 57%;
  top: 244px;
  font-size: 68px;
}
#pointing_hand
  {
    top: 1150px;
    left: 1150px;
  }
  #cosmatics_container
  {
    height: 2000px;
  }
  #perspective_btn_cosmetic {
    top: 882px;
    left: 1342px;
}
#button_cosmetic
{
  height: 250px;
  width: 500px;
  border-radius: 150px 150px 150px 150px;
}
#cosmetic_anchor
{
  font-size: 50px;
}
}
@media only screen and (min-width:5001px) and (max-width: 5200px)
{
  .about_us_text_cosmetic
  {
    width: auto;
  }
  #paragraph_cosmetics {
    position: relative;
    width: auto;
    top: -357px;
    left: 0px;
}
#cosmetics_text {
  position: relative;
  left: 18%;
  width: 57%;
  top: 244px;
  font-size: 68px;
}
#pointing_hand
  {
    top: 1250px;
    left: 1250px;
  }
  #cosmatics_container
  {
    height: 2000px;
  }
  #perspective_btn_cosmetic {
    top: 961px;
    left: 1414px;
}
#button_cosmetic
{
  height: 250px;
  width: 500px;
  border-radius: 150px 150px 150px 150px;
}
#cosmetic_anchor
{
  font-size: 50px;
}
}
@media only screen and (min-width:5201px) and (max-width: 5400px)
{
  .about_us_text_cosmetic
  {
    width: auto;
  }
  #paragraph_cosmetics {
    position: relative;
    width: auto;
    top: -357px;
    left: 0px;
}
#cosmetics_text {
  position: relative;
  left: 18%;
  width: 57%;
  top: 244px;
  font-size: 68px;
}
#pointing_hand
  {
    top: 1250px;
    left: 1250px;
  }
  #cosmatics_container
   {
    height: 2100px;
    }
  #perspective_btn_cosmetic {
    top: 1024px;
    left: 1473px;
}
#button_cosmetic
{
  height: 250px;
  width: 500px;
  border-radius: 150px 150px 150px 150px;
}
#cosmetic_anchor
{
  font-size: 50px;
}
}