#bg-image {
  position: relative;
  overflow: hidden;
  background-image: url(../img/automobiles_image_done_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 30%;
}

#convertables {
  position: relative;
  overflow: hidden;
  background-image: url("../img/shape_new_rectangle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 7%;
  height: 590px;
}

.main {
  height: auto;
  width: 100%;
  position: relative;
}

.main .background_img {
  height: 100%;
  width: 100%;
}

.main .left {
  width: 50%;
  height: 65%;
  position: absolute;
  float: left;
  left: 0px;
  top: 24%;
  padding: 5px;
}

.main .left .heading_Parrent {
  width: 77%;
  height: auto;
  margin-left: 22%;
}

.main .left h1 {
  font-size: 4vw;
  font-family: Arial;
  color: black;
  background-color: #efd708;
  margin: 0;
  text-align: center;
}

.main .left .Paragraph {
  width: 80%;
  height: auto;
  margin-left: 10px;
  margin-top: 10px;
}

.main .left .Paragraph p {
  color: black;
  margin-top: 10%;
  padding: 10px;
  text-align: left;
}

/* Right side div css */

.main .right {
  width: 30%;
  height: 50%;

  position: absolute;
  float: right;
  left: 50%;
  top: 45%;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
}

.car {
  width: 30%;
  height: 30%;
  position: absolute;
  left: 35%;
  top: 120%;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
}

.car img {
  width: 100%;
  height: auto;
}

.car_new {
  width: 40%;
  height: 40%;
  position: absolute;
  left: -20%;
  top: 95%;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
}

.car_new img {
  width: 100%;
  height: auto;
}

.car_frame {
  position: relative;
  width: 30%;
  height: 60%;
  float: left;
  margin-top: 30%;
  background-color: transparent;
}

#car_frame_image {
  width: 100%;
  height: auto;
}

#car_frame {
  background-color: black;
}

.car_frame2 {
  width: 50%;
  height: 55%;
  position: absolute;
  float: left;
  left: 20%;
  top: 95%;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
  border-radius: 10px 10px 10px 10px;
  background-color: transparent;
}

.button_frame {
  width: 44%;
  height: 13%;
  position: absolute;
  left: 23.5%;
  top: 100%;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
  border-radius: 0px 0px 10px 10px;
  background-color: white;
}

.button_frame .one {
  color: black;
  background-color: #787878;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 5%;
  margin: auto;
}

.button_frame .two {
  color: black;
  background-color: #c1c1ff;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 30%;
  margin: auto;
}

.button_frame .three {
  color: black;
  background-color: #dedede;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 55%;
  margin: auto;
}

.button_frame .four {
  color: black;
  background-color: #f1f27a;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 80%;
  margin: auto;
}

#blink_selector_tag {
  position: absolute;
  height: 100%;
  width: 16%;
  top: 8%;
  left: 29.8%;
  border: solid 2px black;
  border-radius: 15px 15px 15px 15px;
}

#map_div {
  position: relative;
  height: 50%;
  width: 30%;
  float: right;
  margin-top: 56.5%;
  right: -20%;
  background-color: white;
}

#img_map {
  width: 100%;
  height: 100%;
}

#new_frame {
  position: relative;
  background-color: transparent;
  top: 1080px;
  left: -200px;
  width: 40%;
  height: 40%;
}

#new_frame_img {
  position: relative;
  width: auto;
  height: auto;
}

* #hologram_light {
  position: relative;
  background-color: transparent;
  top: 660px;
  left: -230px;
}

#hologram_light_image {
  position: absolute;
  height: 150px;
  top: 200px;
  left: 150px;
}

.automobiles_text_haha {
  background-color: black;
}

#automobiles_animation_div_container {
  background-color: transparent;
}

#automobiles_animation_div {
  position: absolute;
  top: 45%;
}

@media only screen and (min-width: 1800px) and (max-width: 1850px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 105%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }
}

@media only screen and (min-width: 1751px) and (max-width: 1799px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 105%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  #new_frame {
    top: 1000px;
    left: -200px;
    width: 40%;
    height: 40%;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 150px;
    left: 130px;
  }
}

@media only screen and (min-width: 1701px) and (max-width: 1750px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 105%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  #new_frame {
    top: 1000px;
    left: -200px;
    width: 40%;
    height: 40%;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 150px;
    left: 130px;
  }
}

@media only screen and (min-width: 1600px) and (max-width: 1700px) {
  #new_frame {
    top: 960px;
    left: -200px;
    width: 40%;
    height: 40%;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 120px;
    left: 119px;
  }

  .car_new {
    left: -20%;
    top: 101%;
  }
}

@media only screen and (min-width: 1550px) and (max-width: 1599px) {
  #new_frame {
    top: 960px;
    left: -200px;
    width: 40%;
    height: 40%;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 120px;
    left: 119px;
  }

  .car_new {
    left: -20%;
    top: 106%;
  }
}

@media only screen and (min-width: 1500px) and (max-width: 1549px) {
  #new_frame {
    top: 940px;
    left: -200px;
    width: 40%;
    height: 40%;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 110px;
    left: 119px;
  }

  .car_new {
    left: -20%;
    top: 105%;
  }
}

@media only screen and (min-width: 1450px) and (max-width: 1499px) {
  #new_frame {
    top: 885px;
    left: -200px;
    width: 40%;
    height: 40%;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 50px;
    left: 119px;
  }

  .car_new {
    left: -20%;
    top: 105%;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1449px) {
  #new_frame {
    top: 840px;
    left: -200px;
    width: 40%;
    height: 40%;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: -5px;
    left: 119px;
  }

  .car_new {
    left: -20%;
    top: 105%;
  }
}

@media only screen and (min-width: 1350px) and (max-width: 1399px) {
  #new_frame {
    top: 798px;
    left: -200px;
    width: 40%;
    height: 40%;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: -45px;
    left: 119px;
  }

  .car_new {
    left: -20%;
    top: 105%;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1349px) {
  #new_frame {
    top: 765px;
    left: -170px;
    width: 40%;
    height: 40%;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: -80px;
    left: 119px;
  }

  .car_new {
    left: -20%;
    top: 105%;
  }
}

@media only screen and (min-width: 1250px) and (max-width: 1299px) {
  #new_frame {
    top: 730px;
    left: -170px;
    width: 40%;
    height: 40%;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: -115px;
    left: 119px;
  }

  .car_new {
    left: -20%;
    top: 105%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1249px) {
  #new_frame {
    top: 675px;
    left: -162px;
    width: 40%;
    height: 40%;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: -170px;
    left: 119px;
  }

  .car_new {
    left: -20%;
    top: 95%;
  }
}

@media only screen and (min-width: 1150px) and (max-width: 1199px) {
  #new_frame {
    top: 675px;
    left: -162px;
    width: 40%;
    height: 40%;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: -170px;
    left: 119px;
  }

  .car_new {
    left: -20%;
    top: 95%;
  }
}

@media only screen and (min-width: 1050px) and (max-width: 1149px) {
  #new_frame {
    top: 619px;
    left: -130px;
    width: 40%;
    height: 40%;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: -210px;
    left: 119px;
  }

  .car_new {
    left: -20%;
    top: 95%;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1049px) {
  #new_frame {
    top: 575px;
    left: -130px;
    width: 40%;
    height: 40%;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: -250px;
    left: 119px;
  }

  .car_new {
    left: -20%;
    top: 95%;
  }
}

@media only screen and (min-width: 950px) and (max-width: 999px) {
  #new_frame {
    position: relative;
    background-color: transparent;
    top: 556px;
    left: -131px;
    width: 40%;
    height: 40%;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: -270px;
    left: 117px;
  }

  .car_new {
    left: -20%;
    top: 95%;
  }
}

@media only screen and (min-width: 900px) and (max-width: 949px) {
  #new_frame {
    top: 525px;
    left: -115px;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: -297px;
    left: 117px;
  }

  .car_new {
    left: -20%;
    top: 95%;
  }
}

@media only screen and (min-width: 800px) and (max-width: 899px) {
  #new_frame {
    top: 508px;
    left: -115px;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: -310px;
    left: 117px;
  }

  .car_new {
    left: -20%;
    top: 95%;
  }

  .button_frame .one {
    width: 38px;
    height: 38px;
  }

  .button_frame .two {
    width: 38px;
    height: 38px;
  }

  .button_frame .three {
    width: 38px;
    height: 38px;
  }

  .button_frame .four {
    width: 38px;
    height: 38px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 799px) {
  #new_frame {
    top: 469px;
    left: -105px;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: -350px;
    left: 117px;
  }

  .car_new {
    left: -20%;
    top: 95%;
  }

  .button_frame .one {
    width: 38px;
    height: 38px;
  }

  .button_frame .two {
    width: 38px;
    height: 38px;
  }

  .button_frame .three {
    width: 38px;
    height: 38px;
  }

  .button_frame .four {
    width: 38px;
    height: 38px;
  }
}

@media only screen and (min-width: 711px) and (max-width: 767px) {
  #convertables {
    width: 61%;
    margin-left: 17%;
    height: 495px;
    background-image: url("../img/shape_new_rectangle.svg");
  }

  #automobile_button {
    font-size: 10px;
    margin-top: 84%;
    margin-left: 0%;
  }

  #particles_js {
    width: 100%;
    height: 100%;
    background-color: #242424;
    background-image: url(../img/normal_background.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 500px;
  }

  .light_image {
    position: relative;
    left: 75%;
    top: 50px;
  }


  #paragraph {
    position: relative;
    left: 65px;
    background-color: transparent;
    width: 250px;
    height: 250px;
    top: 29px;
  }

  #shape_button {
    line-height: 22px;
    margin-bottom: 2px;
    width: 280px;
    font-size: 16px;
  }

  #map_div {
    display: none;
  }

  .car_frame {
    display: none;
  }

  .car_new {
    display: none;
  }

  #hologram_light {
    display: none;
  }

  .car_frame2 {
    left: 26%;
    top: 20%;
  }

  .button_frame {
    height: 51%;
    left: 29.5%;
    top: 41%;
  }

  .car {
    left: 36%;
    top: 145%;
  }
}

@media only screen and (min-width: 621px) and (max-width: 710px) {
  #convertables {
    width: 59%;
    margin-left: 20%;
    height: 362px;
    margin-bottom: 15%;
    background-image: url("../img/shape_new_rectangle.svg");
  }


  #automobile_button {
    font-size: 10px;
    margin-top: 50%;
    margin-left: -27%;
    height: 34px;
    width: 175px;
  }


  #paragraph {
    position: relative;
    left: 55px;
    background-color: transparent;
    width: 250px;
    height: 250px;
    top: 3px;
  }

  #shape_button {
    line-height: 22px;
    margin-bottom: 2px;
    width: 200px;
    font-size: 13px;
  }

  .car_frame2 {
    left: 26%;
    top: 20%;
  }

  .button_frame {
    height: 51%;
    left: 29.5%;
    top: 41%;
  }

  .car {
    left: 36%;
    top: 145%;
  }

  #map_div {
    display: none;
  }

  .car_frame {
    display: none;
  }

  .car_new {
    display: none;
  }

  #hologram_light {
    display: none;
  }
}

@media only screen and (min-width: 556px) and (max-width: 620px) {
  #convertables {
    width: 59%;
    margin-left: 20%;
    height: 362px;
    margin-bottom: 15%;
    background-image: url("../img/shape_new_rectangle.svg");
  }


  #automobile_button {
    font-size: 10px;
    margin-top: 50%;
    margin-left: -39%;
    height: 51px;
    width: 137px;
    padding: 10px;
  }


  #paragraph {
    position: relative;
    left: 55px;
    background-color: transparent;
    width: 250px;
    height: 250px;
    top: 3px;
  }

  #shape_button {
    line-height: 22px;
    margin-bottom: 2px;
    width: 200px;
    font-size: 13px;
  }

  .car_frame2 {
    left: 26%;
    top: 20%;
  }

  .button_frame {
    height: 51%;
    left: 29.5%;
    top: 41%;
  }

  .car {
    left: 36%;
    top: 145%;
  }

  #map_div {
    display: none;
  }

  .car_frame {
    display: none;
  }

  .car_new {
    display: none;
  }

  #hologram_light {
    display: none;
  }
}

@media only screen and (min-width: 451px) and (max-width: 555px) {
  #convertables {
    width: 74%;
    margin-left: 15%;
    height: 370px;
    margin-bottom: 15%;
    background-image: url("../img/shape_new_rectangle.svg");
  }

  #particles_js {
    width: 100%;
    height: 100%;
    background-color: #242424;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 500px;
  }

  #without_shape_banner {
    height: 150px;
    width: 350px;
    position: absolute;
  }

  #automobile_button {
    font-size: 10px;
    margin-top: 57%;
    margin-left: -24%;
    height: 51px;
    width: 137px;
    padding: 10px;
  }


  #paragraph {
    position: relative;
    left: 55px;
    background-color: transparent;
    width: 250px;
    height: 250px;
    top: 3px;
  }

  #shape_button {
    line-height: 22px;
    margin-bottom: 2px;
    width: 200px;
    font-size: 13px;
  }

  .car_frame2 {
    left: 26%;
    top: 20%;
  }

  .button_frame {
    height: 51%;
    left: 29.5%;
    top: 41%;
  }

  .car {
    left: 36%;
    top: 145%;
  }

  #map_div {
    display: none;
  }

  .car_frame {
    display: none;
  }

  .car_new {
    display: none;
  }

  #hologram_light {
    display: none;
  }

  .button_frame .one {
    width: 30px;
    height: 30px;
  }

  .button_frame .two {
    width: 30px;
    height: 30px;
  }

  .button_frame .three {
    width: 30px;
    height: 30px;
  }

  .button_frame .four {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (min-width: 380px) and (max-width: 450px) {
  #convertables {
    width: 72%;
    margin-left: 15%;
    height: 300px;
    margin-bottom: 15%;
    background-image: url("../img/shape_new_rectangle.svg");
  }


  #automobile_button {
    font-size: 8px;
    margin-top: 23%;
    margin-left: -63%;
    height: 33px;
    width: 90px;
    padding: 0px;
  }


  #paragraph {
    position: relative;
    left: 55px;
    background-color: transparent;
    width: 250px;
    height: 250px;
    top: 3px;
  }

  #shape_button {
    line-height: 19px;
    margin-bottom: 2px;
    width: 151px;
    font-size: 10px;
  }

  .car_frame2 {
    left: 26%;
    top: 20%;
  }

  .button_frame {
    height: 51%;
    left: 29.5%;
    top: 41%;
  }

  .car {
    left: 36%;
    top: 145%;
  }

  #map_div {
    display: none;
  }

  .car_frame {
    display: none;
  }

  .car_new {
    display: none;
  }

  #hologram_light {
    display: none;
  }

  .button_frame .one {
    width: 30px;
    height: 30px;
  }

  .button_frame .two {
    width: 30px;
    height: 30px;
  }

  .button_frame .three {
    width: 30px;
    height: 30px;
  }

  .button_frame .four {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 379px) {
  #convertables {
    width: 74%;
    margin-left: 15%;
    height: 240px;
    margin-bottom: 15%;
    background-image: url("../img/shape_new_rectangle.svg");
  }


  #automobile_button {
    font-size: 8px;
    margin-top: 23%;
    margin-left: -67%;
    height: 33px;
    width: 90px;
    padding: 0px;
  }


  #paragraph {
    position: relative;
    left: 55px;
    background-color: transparent;
    width: 250px;
    height: 250px;
    top: 3px;
  }

  #shape_button {
    line-height: 19px;
    margin-bottom: 2px;
    width: 148px;
    font-size: 10px;
  }


  #map_div {
    display: none;
  }

  .car_frame {
    display: none;
  }

  .car_new {
    display: none;
  }

  #hologram_light {
    display: none;
  }

  .car_frame2 {
    left: 36%;
    top: 20%;
  }

  .button_frame {
    height: 51%;
    width: 42.6%;
    left: 39.8%;
    top: 41%;
  }

  .button_frame .one {
    width: 30px;
    height: 30px;
  }

  .button_frame .two {
    width: 30px;
    height: 30px;
  }

  .button_frame .three {
    width: 30px;
    height: 30px;
  }

  .button_frame .four {
    width: 30px;
    height: 30px;
  }

  .car {
    left: 45%;
    top: 130%;
  }
}

@media only screen and (max-width: 319px) {
  #convertables {
    display: none;
  }

  #perspective_btn {
    display: none;
  }

  .btn-3d {
    display: none;
  }

  #paragraph {
    display: none;
  }

  #shape_button {
    display: none;
  }

  #map_div {
    display: none;
  }

  .car_frame {
    display: none;
  }

  .car_new {
    display: none;
  }

  #hologram_light {
    display: none;
  }

  .car_frame2 {
    display: none;
  }

  .button_frame {
    display: none;
  }

  .car {
    display: none;
  }
}