#tablet_image_span {
    position: absolute;
    margin-top: 20%;
    left: -20%;
    width:50%;
    height:300%;
}

#shoe3 {
    position: absolute;
    margin-top:72%;
    margin-left: 33%;
    width: 20%;
    border-radius: 10px 10px 10px 10px;
}
#shoe4
{
    position: relative;
    top: 530px;
    left: 395px;
    width: 20%;
    height: 30%;
}
.pointing_hand_shoes
{
  position: absolute;
  left: 180px;
  top: -190px;
  display: none;
}
#selector_div_shoes {
    position: absolute;
    height: 10.5%;
    width: 11%;
    top: 25%;
    left: 5%;
    border: 3px solid #464646;
}

#color_black {
    position: absolute;
    background-color: transparent;
    height: 10%;
    width: 10%;
    top: 15%;
    left: 10%;
    border-radius: 10px 10px 10px 10px;
}

#color_green {
    position: absolute;
    background-color: transparent;
    height: 10%;
    width: 10%;
    top: 33%;
    left: 10%;
    border-radius: 10px 10px 10px 10px;
}

#color_blue {
    position: absolute;
    background-color: transparent;
    height: 10%;
    width: 10%;
    top: 52%;
    left: 10%;
    border-radius: 10px 10px 10px 10px;
}

#color_brown {
    position: absolute;
    background-color: transparent;
    height: 10%;
    width: 10%;
    top: 71%;
    left: 10%;
    border-radius: 10px 10px 10px 10px;
}

@media only screen and (min-width: 300px) and (max-width: 349px){

  #shoes_container{
  height: 1080px; 
  
  }
  
  #paragraph_footwear p {
    position: absolute;
    margin-left: 18%;
    margin-top: -102%;
    font-size: 8px;
    font-family: sans-serif;
    padding: 5%;
    width: 71%;
    line-height: 15px;
}
  
  #button_shoe{
    margin-top: -17%;
    margin-left: 55%;
    position: absolute;
  }
  
  
  #image_tablet{
    width: 84%;
    margin-left: 128%;
    margin-top: -123%;
  
  
  }
  #person{
  
    display: block !important;
      width: 25%;
      margin-top: -8%;
      margin-left: 60.5%;
  }
  
  #color_black{
    
    position: absolute;
    background-color: transparent;
    height: 4%;
    width: 7%;
    top: -21%;
    left: 135%;
    border-radius: 10px 10px 10px 10px;
  }
  
  #color_green {
  
    position: absolute;
    background-color: transparent;
    height: 4%;
    width: 7%;
    top: -18%;
    left: 134%;
    border-radius: 10px 10px 10px 10px;
  }
  
  #color_blue{
    position: absolute;
    background-color: transparent;
    height: 4%;
    width: 7%;
    top: -15.4%;
    left: 135%;
    border-radius: 10px 10px 10px 10px;
  }
  #color_brown {
    position: absolute;
    background-color: transparent;
    height: 4%;
    width: 7%;
    top: -11.5%;
    left: 135%;
    border-radius: 10px 10px 10px 10px;
  }
  
  #shoe3 {
    position: absolute;
    margin-top: -14%;
    margin-left: 52%;
    width: 12%;
    height: 23%;
}
  #shoe4
  {
   position: absolute;
    top: 80%;
    left: 70%;
    width: 11%;
    height: 23%;
  }
  
  .pointing_hand_shoes {
    position: absolute;
    left: 98px;
    top: -152px;
}
  #footwear_shape_image {
    width: 93%;
    height: 450px;
    margin-left: 24px;
    margin-top: 100px;
}
#footwear_cosmeticss {
  top: 67%;
  margin-left: 55%;
  position: absolute;
  padding: 20px;
  width: 100px;
  height: 50px;
}
.pointing_hand_shoes {
    position: absolute;
    left: 151px;
    top: -166px;
}
  }



@media only screen and (min-width: 350px) and (max-width: 399px){

  #shoes_container{
  height: 1080px; 
  
  }
  
  #paragraph_footwear p {
    position: absolute;
    margin-left: 18%;
    margin-top: -99%;
    font-size: 11px;
    font-family: sans-serif;
    padding: 5%;
    width: 65%;
    line-height: 15px;
}
  
  #button_shoe{
    margin-top: -17%;
    margin-left: 55%;
    position: absolute;
  }
  
  
  #image_tablet{
    width: 84%;
    margin-left: 128%;
    margin-top: -123%;
  
  
  }
  #person{
  
    display: block !important;
      width: 25%;
      margin-top: -8%;
      margin-left: 60.5%;
  }
  
  #color_black{
    
    position: absolute;
    background-color: transparent;
    height: 4%;
    width: 7%;
    top: -21%;
    left: 135%;
    border-radius: 10px 10px 10px 10px;
  }
  
  #color_green {
  
    position: absolute;
    background-color: transparent;
    height: 4%;
    width: 7%;
    top: -18%;
    left: 134%;
    border-radius: 10px 10px 10px 10px;
  }
  
  #color_blue{
    position: absolute;
    background-color: transparent;
    height: 4%;
    width: 7%;
    top: -15.4%;
    left: 135%;
    border-radius: 10px 10px 10px 10px;
  }
  #color_brown {
    position: absolute;
    background-color: transparent;
    height: 4%;
    width: 7%;
    top: -11.5%;
    left: 135%;
    border-radius: 10px 10px 10px 10px;
  }
  
  #shoe3 {
    position: absolute;
    margin-top: -14%;
    margin-left: 53%;
    width: 12%;
    height: 23%;
}
  #shoe4
  {
   position: absolute;
    top: 80%;
    left: 70.5%;
    width: 11%;
    height: 23%;
  }
  
  .pointing_hand_shoes
  {
    position: absolute;
    left: 280px;
    top: -200px;
  }
  #footwear_shape_image {
    width: 93%;
    height: 450px;
    margin-left: 24px;
}
#footwear_cosmeticss {
  top: 67%;
  margin-left: 55%;
  position: absolute;
  padding: 20px;
  width: 100px;
  height: 50px;
}
.pointing_hand_shoes {
    position: absolute;
    left: 151px;
    top: -166px;
}
  }


@media only screen and (min-width: 400px) and (max-width: 451px){

  #shoes_container{
  height: 1080px; 
  
  }
  
  #paragraph_footwear p {
    position: absolute;
    margin-left: 23%;
    margin-top: -86%;
    font-size: 11px;
    font-family: sans-serif;
    padding: 5%;
    width: 65%;
    line-height: 15px;
}
  
  #button_shoe{
    margin-top: -17%;
    margin-left: 55%;
    position: absolute;
  }
  
  
  #image_tablet{
    width: 84%;
    margin-left: 128%;
    margin-top: -123%;
  
  
  }
  #person{
  
    display: block !important;
      width: 25%;
      margin-top: -8%;
      margin-left: 60.5%;
  }
  
  #color_black{
    
    position: absolute;
    background-color: transparent;
    height: 4%;
    width: 7%;
    top: -21%;
    left: 135%;
    border-radius: 10px 10px 10px 10px;
  }
  
  #color_green {
  
    position: absolute;
    background-color: transparent;
    height: 4%;
    width: 7%;
    top: -18%;
    left: 134%;
    border-radius: 10px 10px 10px 10px;
  }
  
  #color_blue{
    position: absolute;
    background-color: transparent;
    height: 4%;
    width: 7%;
    top: -15.4%;
    left: 135%;
    border-radius: 10px 10px 10px 10px;
  }
  #color_brown {
    position: absolute;
    background-color: transparent;
    height: 4%;
    width: 7%;
    top: -11.5%;
    left: 135%;
    border-radius: 10px 10px 10px 10px;
  }
  
  #shoe3 {
    position: absolute;
    margin-top: -14%;
    margin-left: 53.5%;
    width: 12%;
    height: 23%;
}
  #shoe4
  {
   position: absolute;
    top: 80%;
    left: 71%;
    width: 11%;
    height: 23%;
  }
  
  .pointing_hand_shoes
  {
    position: absolute;
    left: 280px;
    top: -200px;
  }
  #footwear_shape_image {
    width: 77%;
    height: 450px;
    margin-left: 65px;
}
#footwear_cosmeticss {
  top: 67%;
  margin-left: 55%;
  position: absolute;
  padding: 20px;
  width: 100px;
  height: 50px;
}
  }




 @media only screen and (min-width: 450px) and (max-width: 499px){

  #shoes_container{
  height: 1080px; 
  
  }
  
  #paragraph_footwear p {
    position: absolute;
    margin-left: 32%;
    margin-top: -77%;
    font-size: 11px;
    font-family: sans-serif;
    padding: 5%;
    width: 50%;
    line-height: 15px;
}
  
  #button_shoe{
    margin-top: -17%;
    margin-left: 55%;
    position: absolute;
  }
  
  
  #image_tablet{
    width: 84%;
    margin-left: 128%;
    margin-top: -123%;
  
  
  }
  #person{
  
    display: block !important;
      width: 25%;
      margin-top: -8%;
      margin-left: 60.5%;
  }
  
  #color_black{
    
    position: absolute;
    background-color: transparent;
    height: 4%;
    width: 7%;
    top: -21%;
    left: 135%;
    border-radius: 10px 10px 10px 10px;
  }
  
  #color_green {
  
    position: absolute;
    background-color: transparent;
    height: 4%;
    width: 7%;
    top: -18%;
    left: 134%;
    border-radius: 10px 10px 10px 10px;
  }
  
  #color_blue{
    position: absolute;
    background-color: transparent;
    height: 4%;
    width: 7%;
    top: -15.4%;
    left: 135%;
    border-radius: 10px 10px 10px 10px;
  }
  #color_brown {
    position: absolute;
    background-color: transparent;
    height: 4%;
    width: 7%;
    top: -11.5%;
    left: 135%;
    border-radius: 10px 10px 10px 10px;
  }
  
   #shoe3 {
    position: absolute;
    margin-top: -14%;
    margin-left: 54.5%;
    width: 12%;
    height: 23%;
  }
  #shoe4
  {
   position: absolute;
    top: 80%;
    left: 71.5%;
    width: 11%;
    height: 23%;
  }
  
  .pointing_hand_shoes
  {
    position: absolute;
    left: 280px;
    top: -200px;
  }
  #footwear_shape_image {
    width: 68%;
    height: 450px;
    margin-left: 115px;
}
#footwear_cosmeticss {
  top: 67%;
  margin-left: 55%;
  position: absolute;
  padding: 20px;
  width: 100px;
  height: 50px;
}
  }
  

 @media only screen and (min-width: 500px) and (max-width: 550px){

  #shoes_container{
  height: 1080px; 
  
  }
  
  
  #paragraph_footwear p {
    position: absolute;
    margin-left: 30%;
    margin-top: -70%;
    font-size: 11px;
    font-family: sans-serif;
    padding: 5%;
    width: 50%;
    line-height: 15px;
}
  
  
  #button_shoe{
    margin-top: -17%;
    margin-left: 55%;
    position: absolute;
  }
  
  
  #image_tablet{
    width: 84%;
    margin-left: 128%;
    margin-top: -123%;
  
  
  }
  #person{
  
    display: block !important;
      width: 25%;
      margin-top: -8%;
      margin-left: 60.5%;
  }
  
  #color_black{
    
    position: absolute;
    background-color: transparent;
    height: 4%;
    width: 7%;
    top: -21%;
    left: 135%;
    border-radius: 10px 10px 10px 10px;
  }
  
  #color_green {
  
    position: absolute;
    background-color: transparent;
    height: 4%;
    width: 7%;
    top: -18%;
    left: 134%;
    border-radius: 10px 10px 10px 10px;
  }
  
  #color_blue{
    position: absolute;
    background-color: transparent;
    height: 4%;
    width: 7%;
    top: -15.4%;
    left: 135%;
    border-radius: 10px 10px 10px 10px;
  }
  #color_brown {
    position: absolute;
    background-color: transparent;
    height: 4%;
    width: 7%;
    top: -11.5%;
    left: 135%;
    border-radius: 10px 10px 10px 10px;
  }
  
   #shoe3 {
    position: absolute;
    margin-top: -14%;
    margin-left: 54.5%;
    width: 12%;
    height: 23%;
  }
  #shoe4
  {
   position: absolute;
    top: 80%;
    left: 72%;
    width: 11%;
    height: 23%;
  }
  
  .pointing_hand_shoes
  {
    position: absolute;
    left: 280px;
    top: -200px;
  }
  #footwear_shape_image {
    width: 68%;
    height: 450px;
    margin-left: 115px;
}
#footwear_cosmeticss {
  margin-top: -29%;
  margin-left: 55%;
  position: absolute;
  padding: 20px;
  width: 100px;
  height: 50px;
}
  }
  

 @media only screen and (min-width: 551px) and (max-width: 599px){

  #shoes_container{
  height: 1080px; 
  
  }
  
  
  #paragraph_footwear p {
    position: absolute;
    margin-left: 29%;
    margin-top: -65%;
    font-size: 11px;
    font-family: sans-serif;
    padding: 5%;
    width: 50%;
    line-height: 15px;
}
  
  
  #button_shoe{
    margin-top: -17%;
    margin-left: 55%;
    position: absolute;
  }
  
  
  #image_tablet{
    width: 84%;
    margin-left: 128%;
    margin-top: -123%;
  
  
  }
  #person{
  
    display: block !important;
      width: 25%;
      margin-top: -8%;
      margin-left: 60.5%;
  }
  
  #color_black{
    
    position: absolute;
    background-color: transparent;
    height: 4%;
    width: 7%;
    top: -21%;
    left: 135%;
    border-radius: 10px 10px 10px 10px;
  }
  
  #color_green {
  
    position: absolute;
    background-color: transparent;
    height: 4%;
    width: 7%;
    top: -18%;
    left: 134%;
    border-radius: 10px 10px 10px 10px;
  }
  
  #color_blue{
    position: absolute;
    background-color: transparent;
    height: 4%;
    width: 7%;
    top: -15.4%;
    left: 135%;
    border-radius: 10px 10px 10px 10px;
  }
  #color_brown {
    position: absolute;
    background-color: transparent;
    height: 4%;
    width: 7%;
    top: -11.5%;
    left: 135%;
    border-radius: 10px 10px 10px 10px;
  }
  
   #shoe3 {
    position: absolute;
    margin-top: -14%;
    margin-left: 55.5%;
    width: 12%;
    height: 23%;
  }
  #shoe4
  {
   position: absolute;
    top: 80%;
    left: 72%;
    width: 11%;
    height: 23%;
  }
  
  .pointing_hand_shoes
  {
    position: absolute;
    left: 280px;
    top: -200px;
  }
  #footwear_shape_image {
    width: 60%;
    height: 450px;
    margin-left: 125px;
}
#footwear_cosmeticss {
  margin-top: -23%;
  margin-left: 55%;
  position: absolute;
  padding: 20px;
  width: 100px;
  height: 50px;
}
  }
  

 @media only screen and (min-width: 600px) and (max-width: 649px){

  #shoes_container{
  height: 1080px; 
  
  }
  
  
  #paragraph_footwear p {
    position: absolute;
    margin-left: 29%;
    margin-top: -60%;
    font-size: 11px;
    font-family: sans-serif;
    padding: 5%;
    width: 40%;
    line-height: 15px;
}
  
  
  #button_shoe{
    margin-top: -17%;
    margin-left: 55%;
    position: absolute;
  }
  
  
  #image_tablet{
    width: 84%;
    margin-left: 128%;
    margin-top: -123%;
  
  
  }
  #person{
  
    display: block !important;
      width: 25%;
      margin-top: -8%;
      margin-left: 60.5%;
  }
  
  #color_black{
    
    position: absolute;
    background-color: transparent;
    height: 4%;
    width: 7%;
    top: -21%;
    left: 135%;
    border-radius: 10px 10px 10px 10px;
  }
  
  #color_green {
  
    position: absolute;
    background-color: transparent;
    height: 4%;
    width: 7%;
    top: -18%;
    left: 134%;
    border-radius: 10px 10px 10px 10px;
  }
  
  #color_blue{
    position: absolute;
    background-color: transparent;
    height: 4%;
    width: 7%;
    top: -15.4%;
    left: 135%;
    border-radius: 10px 10px 10px 10px;
  }
  #color_brown {
    position: absolute;
    background-color: transparent;
    height: 4%;
    width: 7%;
    top: -11.5%;
    left: 135%;
    border-radius: 10px 10px 10px 10px;
  }
  
   #shoe3 {
    position: absolute;
    margin-top: -14%;
    margin-left: 55.5%;
    width: 12%;
    height: 23%;
  }
  #shoe4
  {
   position: absolute;
    top: 80%;
    left: 72%;
    width: 11%;
    height: 23%;
  }
  
  .pointing_hand_shoes
  {
    position: absolute;
    left: 280px;
    top: -200px;
  }
  #footwear_shape_image {
    width: 60%;
    height: 450px;
    margin-left: 125px;
}
#footwear_cosmeticss {
  margin-top: -23%;
  margin-left: 55%;
  position: absolute;
  padding: 20px;
  width: 100px;
  height: 50px;
}
  }
  

 @media only screen and (min-width: 650px) and (max-width: 699px){



  #shoes_container{
  height: 1080px; 
  
  }
  
  
  #paragraph_footwear p {
    position: absolute;
    margin-left: 24%;
    margin-top: -58%;
    font-size: 11px;
    font-family: sans-serif;
    padding: 5%;
    width: 40%;
    line-height: 15px;
}
  
  #button_shoe{
    margin-top: -17%;
    margin-left: 55%;
    position: absolute;
  }
  
  
  #image_tablet{
    width: 84%;
    margin-left: 128%;
    margin-top: -123%;
  
  
  }
  #person{
  
    display: block !important;
      width: 25%;
      margin-top: -8%;
      margin-left: 60.5%;
  }
  
  #color_black{
    
    position: absolute;
    background-color: transparent;
    height: 4%;
    width: 7%;
    top: -21%;
    left: 135%;
    border-radius: 10px 10px 10px 10px;
  }
  
  #color_green {
  
    position: absolute;
    background-color: transparent;
    height: 4%;
    width: 7%;
    top: -18%;
    left: 134%;
    border-radius: 10px 10px 10px 10px;
  }
  
  #color_blue{
    position: absolute;
    background-color: transparent;
    height: 4%;
    width: 7%;
    top: -15.4%;
    left: 135%;
    border-radius: 10px 10px 10px 10px;
  }
  #color_brown {
    position: absolute;
    background-color: transparent;
    height: 4%;
    width: 7%;
    top: -11.5%;
    left: 135%;
    border-radius: 10px 10px 10px 10px;
  }
  
   #shoe3 {
    position: absolute;
    margin-top: -14%;
    margin-left: 55.5%;
    width: 12%;
    height: 23%;
  }
  #shoe4
  {
   position: absolute;
    top: 80%;
    left: 72%;
    width: 11%;
    height: 23%;
  }
  
  .pointing_hand_shoes
  {
    position: absolute;
    left: 280px;
    top: -200px;
  }
  #footwear_shape_image {
    width: 60%;
    height: 450px;
    margin-left: 125px;
}
#footwear_cosmeticss {
  margin-top: -23%;
  margin-left: 55%;
  position: absolute;
  padding: 20px;
  width: 100px;
  height: 50px;
}
  }
  


@media only screen and (min-width: 700px) and (max-width: 767px){

#shoes_container{
height: 1080px; 

}


#paragraph_footwear p {
  position: absolute;
  margin-left: 23%;
  margin-top: -51%;
  font-size: 11px;
  font-family: sans-serif;
  padding: 5%;
  width: 40%;
  line-height: 15px;
}


#button_shoe{
  margin-top: -17%;
  margin-left: 55%;
  position: absolute;
}


#image_tablet{
  width: 84%;
  margin-left: 128%;
  margin-top: -123%;


}
#person{

  display: block !important;
    width: 25%;
    margin-top: -8%;
    margin-left: 60.5%;
}

#color_black{
  
  position: absolute;
  background-color: transparent;
  height: 4%;
  width: 7%;
  top: -21%;
  left: 135%;
  border-radius: 10px 10px 10px 10px;
}

#color_green {

  position: absolute;
  background-color: transparent;
  height: 4%;
  width: 7%;
  top: -18%;
  left: 134%;
  border-radius: 10px 10px 10px 10px;
}

#color_blue{
  position: absolute;
  background-color: transparent;
  height: 4%;
  width: 7%;
  top: -15.4%;
  left: 135%;
  border-radius: 10px 10px 10px 10px;
}
#color_brown {
  position: absolute;
  background-color: transparent;
  height: 4%;
  width: 7%;
  top: -11.5%;
  left: 135%;
  border-radius: 10px 10px 10px 10px;
}

 #shoe3 {
  position: absolute;
  margin-top: -14%;
  margin-left: 55.5%;
  width: 12%;
  height: 23%;
}
#shoe4
{
 position: absolute;
  top: 80%;
  left: 72%;
  width: 11%;
  height: 23%;
}

.pointing_hand_shoes
{
  position: absolute;
  left: 280px;
  top: -200px;
}
#footwear_shape_image {
  width: 50%;
  height: 450px;
  margin-left: 150px;
}
#footwear_cosmeticss {
  margin-top: -19%;
  margin-left: 47%;
  position: absolute;
  padding: 20px;
  width: 136px;
  height: 58px;
}
}
