#pointing_hand
{
    position: absolute;
    left: 30%;
    top: 80px;
    display: none;
}
.text{
    font-size:5vw;
    text-align:center;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    margin-top:40%;
    left:50%;
    transform: translate(-50%, -80%);
  }

.tab {
    position: absolute;
    margin-top: -25%;
    left: 19%;
    width: 60%;
}

.hand {
    position: absolute;
    right: -28%;
    margin-top: -10%;
    width: 90%;
}

.slider1 {
    position: absolute;
    left: 30.5%;
    margin-top: 36%;
    border: solid 1px transparent;
    width: 8%;
    height: 60px;
    background-color: red;

}

.slider2 {
    position: absolute;
    left: 40.5%;
    margin-top: 36%;
    border: solid 1px transparent;
    width: 8%;
    height: 60px;
    background-color: blue;


}

.slider3 {
    position: absolute;
    left: 50.4%;
    margin-top: 36%;
    border: solid 1px transparent;
    width: 8%;
    height: 60px;
    background-color: pink;

}

.slider4 {
    position: absolute;
    left: 60%;
    margin-top: 36%;
    border: solid 1px transparent;
    width: 8%;
    height: 60px;
    background-color: orange;

}
@media only screen and (min-width: 300px) and (max-width: 349px) {
   .mobile_body
   {
       overflow-x:hidden;
   }

    .nailShape
    {
        background-color: transparent;
    }
    #cosmetic_shape_image
    {
        width: 100%;
        height: 350px;
    }
    
        #cosmatics_container
        {
            height: 900px;
        }

          #paragraph_cosmetics p 
          {
            background-color: transparent;
            position: absolute;
            margin-left: 11%;
            margin-top: -89%;
            font-size: 7px;
            font-family: sans-serif;
            padding: 5%;
            width: 68%;
        }
    
        #button_cosmeticss {
            margin-top: -17%;
            margin-left: 48%;
            position: absolute;
            padding: 20px;
            width: 100px;
            height: 50px;
        }
        #automobiles_anchor {
            font-size: 7px;
            position: relative;
            top: -10px;
        }
    
        .tab {
            margin-top: -51%;
            left: 10%;
            width: 71%;
            padding-top: 1.7%;
        }
    
        .hand {
            margin-right: 58%;
            margin-top: -22%;
            width: 74%;
        }
    
        .slider1 {
            left: 24.5%;
            height: 40px;
            width: 7.5%;
            margin-top: 22%;
        }
    
        .slider2 {
    
            left: 36%;
            height: 40px;
            width: 7.5%;
            margin-top: 22%;
        }
    
        .slider3 {
            left: 44.5%;
            height: 40px;
            width: 7.5%;
            margin-top: 22%;
            margin-left: 10px;
        }
    
        .slider4 {
            left: 53.2%;
            height: 40px;
            width: 7.5%;
            margin-top: 22%;
            margin-left: 20px;
        }

        #pointing_hand
        {
            position: absolute;
            left: 30%;
            top: 80px;
            display: none;
        }
        #particles_js {
            width: 100%;
            height: 100%;
            background-color: #242424;
            background-image: url(../img/normal_background.jpg);
            background-size: cover;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            height: 500px;
        }
        
        .image_change
        {
            position: relative;
            width: 200px;
            height: 200px;
            top: 60px;
            left: 23px;
        }
        .text {
            font-size: 5vw;
            text-align: center;
            color: white;
            font-family: 'Times New Roman', Times, serif;
            position: absolute;
            margin-top: 12%;
            left: 30%;
            transform: translate(-50%, -80%);
        }
        .light_image
        {
        position: relative;
        left:57%;
        top: 50px;
        }
}


@media only screen and (min-width: 350px) and (max-width: 399px) {
   
    .nailShape
    {
        background-color: transparent;
    }
    #cosmetic_shape_image
    {
        width: 100%;
        height: 350px;
    }
    
        #cosmatics_container{
            height: 900px;
        
        
          }
          #paragraph_cosmetics p {
            background-color: transparent;
            position: absolute;
            margin-left: 12%;
            margin-top: -89%;
            font-size: 9px;
            font-family: sans-serif;
            padding: 5%;
            width: 70%;
        }
    
        #button_cosmeticss {
            margin-top: -25%;
            margin-left: 48%;
            position: absolute;
            padding: 20px;
            width: 100px;
            height: 50px;
        }
        #automobiles_anchor {
            font-size: 7px;
            position: relative;
            top: -10px;
        }
    
        .tab {
            margin-top: -51%;
            left: 10%;
            width: 71%;
            padding-top: 1.7%;
        }
    
        .hand {
            margin-right: 58%;
            margin-top: -22%;
            width: 74%;
        }
    
       .slider1 {
            left: 24.5%;
            height: 40px;
            width: 7.5%;
            margin-top: 22%;
        }
    
        .slider2 {
    
            left: 36%;
            height: 40px;
            width: 7.5%;
            margin-top: 22%;
        }
    
        .slider3 {
            left: 44.5%;
            height: 40px;
            width: 7.5%;
            margin-top: 22%;
            margin-left: 10px;
        }
    
        .slider4 {
            left: 53.2%;
            height: 40px;
            width: 7.5%;
            margin-top: 22%;
            margin-left: 20px;
        }

        #pointing_hand {
            position: absolute;
            left: 32%;
            top: 110px;
            display: none;
        }
        #particles_js {
            width: 100%;
            height: 100%;
            background-color: #242424;
            background-image: url(../img/normal_background.jpg);
            background-size: cover;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            height: 500px;
        }
        
        .image_change
        {
            position: relative;
            width: 200px;
            height: 200px;
            top: 60px;
            left: 26px;
        }
        .text {
            font-size: 5vw;
            text-align: center;
            color: white;
            font-family: 'Times New Roman', Times, serif;
            position: absolute;
            margin-top: 12%;
            left: 25%;
            transform: translate(-50%, -80%);
        }
        .light_image
        {
        position: relative;
        left:57%;
        top: 50px;
        }
}

@media only screen and (min-width: 400px) and (max-width: 450px) {
   
    .nailShape
    {
        background-color: transparent;
    }
    #cosmetic_shape_image
    {
        width: 100%;
        height: 350px;
    }
    #particles_js {
        width: 100%;
        height: 100%;
        background-color: #242424;
        background-image: url(../img/normal_background.jpg);
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        height: 500px;
    }
    
    .image_change
    {
        position: relative;
        width: 200px;
        height: 200px;
        top: 60px;
        left: 36px;
    }
    .text {
        font-size: 5vw;
        text-align: center;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        position: absolute;
        margin-top: 12%;
        left: 35%;
        transform: translate(-50%, -80%);
    }
    .light_image
    {
    position: relative;
    left:57%;
    top: 50px;
    }
    
        #cosmatics_container{
            height: 900px;
        
        
          }
          #paragraph_cosmetics p {
            background-color: transparent;
            position: absolute;
            margin-left: 16%;
            margin-top: -72%;
            font-size: 9px;
            font-family: sans-serif;
            padding: 5%;
            width: 60%;
        }
    
        #button_cosmeticss {
            margin-top: -17%;
            margin-left: 48%;
            position: absolute;
            padding: 20px;
            width: 100px;
            height: 50px;
        }
        #automobiles_anchor {
            font-size: 7px;
            position: relative;
            top: -10px;
        }
    
        .tab {
            margin-top: -51%;
            left: 10%;
            width: 71%;
            padding-top: 1.7%;
        }
    
        .hand {
            margin-right: 58%;
            margin-top: -22%;
            width: 74%;
        }
    .slider1 {
            left: 24.5%;
            height: 40px;
            width: 7.5%;
            margin-top: 22%;
        }
    
        .slider2 {
    
            left: 36%;
            height: 40px;
            width: 7.5%;
            margin-top: 22%;
        }
    
        .slider3 {
            left: 44.5%;
            height: 40px;
            width: 7.5%;
            margin-top: 22%;
            margin-left: 10px;
        }
    
        .slider4 {
            left: 53.2%;
            height: 40px;
            width: 7.5%;
            margin-top: 22%;
            margin-left: 20px;
        }

        #pointing_hand
        {
            position: absolute;
            left: 30%;
            top: 80px;
            display: none;
        }
}



@media only screen and (min-width: 451px) and (max-width: 499px) {
   
    .nailShape
    {
        background-color: transparent;
    }
    #cosmetic_shape_image
    {
        width: 100%;
        height: 350px;
    }
    #particles_js {
        width: 100%;
        height: 100%;
        background-color: #242424;
        background-image: url(../img/normal_background.jpg);
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        height: 500px;
    }
    
    .image_change
    {
        position: relative;
        width: 200px;
        height: 200px;
        top: 60px;
        left: 75px;
    }
    .text {
        font-size: 5vw;
        text-align: center;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        position: absolute;
        margin-top: 12%;
        left: 40%;
        transform: translate(-50%, -80%);
    }
    .light_image
    {
    position: relative;
    left:65%;
    top: 50px;
    }
    
        #cosmatics_container{
            height: 900px;
        
        
          }
          #paragraph_cosmetics p {
            background-color: transparent;
            position: absolute;
            margin-left: 19%;
            margin-top: -66%;
            font-size: 9px;
            font-family: sans-serif;
            padding: 5%;
            width: 60%;
        }
    
        #button_cosmeticss {
            margin-top: -17%;
            margin-left: 48%;
            position: absolute;
            padding: 20px;
            width: 100px;
            height: 50px;
        }
        #automobiles_anchor {
            font-size: 7px;
            position: relative;
            top: -10px;
        }
    
        .tab 
        {
    
            margin-top: -38%;
            left: 25%;
            width: 52%;
            padding-top: 1.7%;
    
        }
    
        .hand {
            margin-right: 58%;
            margin-top: -22%;
            width: 74%;
        }
    
        .slider1 {
            left: 34.5%;
            height: 40px;
            width: 7.5%;
            margin-top: 17%;
        }
    
        .slider2 {
            left: 43%;
            height: 40px;
            width: 7.5%;
            margin-top: 17%;
        }
    
        .slider3 {
            left: 49.5%;
            height: 40px;
            width: 7.5%;
            margin-top: 17%;
            margin-left: 10px;
        }
    
        .slider4 {
            left: 56.2%;
            height: 40px;
            width: 7.5%;
            margin-top: 17%;
            margin-left: 20px;
        }
        #pointing_hand
        {
            position: absolute;
            left: 30%;
            top: 80px;
            display: none;
        }
}

@media only screen and (min-width: 500px) and (max-width: 544px) {
   
    .nailShape
{

    background-color: transparent;
}
#cosmetic_shape_image
{
    width: 100%;
    height: 350px;
}
#particles_js {
    width: 100%;
    height: 100%;
    background-color: #242424;
    background-image: url(../img/normal_background.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 500px;
}

.image_change
{
    position: relative;
    width: 200px;
    height: 200px;
    top: 60px;
    left: 75px;
}
.text {
    font-size: 5vw;
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    margin-top: 12%;
    left: 40%;
    transform: translate(-50%, -80%);
}
.light_image
{
position: relative;
left:65%;
top: 50px;
}

    #cosmatics_container{
        height: 900px;
    
    
      }
      #paragraph_cosmetics p {
        background-color: transparent;
        position: absolute;
        margin-left: 20%;
        margin-top: -64%;
        font-size: 10px;
        font-family: sans-serif;
        padding: 5%;
        width: 60%;
    }

    #button_cosmeticss {
        margin-top: -17%;
        margin-left: 48%;
        position: absolute;
        padding: 20px;
        width: 100px;
        height: 50px;
    }
    #automobiles_anchor {
        font-size: 7px;
        position: relative;
        top: -10px;
    }

    .tab 
    {

        margin-top: -38%;
        left: 25%;
        width: 52%;
        padding-top: 1.7%;

    }

    .hand {
        margin-right: 58%;
        margin-top: -22%;
        width: 74%;
    }

    .slider1 {
        left: 34.5%;
        height: 40px;
        width: 7.5%;
        margin-top: 17%;
    }

    .slider2 {
        left: 43%;
        height: 40px;
        width: 7.5%;
        margin-top: 17%;
    }

    .slider3 {
        left: 49.5%;
        height: 40px;
        width: 7.5%;
        margin-top: 17%;
        margin-left: 10px;
    }

    .slider4 {
        left: 56.2%;
        height: 40px;
        width: 7.5%;
        margin-top: 17%;
        margin-left: 20px;
    }   
    #pointing_hand
    {
        position: absolute;
        left: 30%;
        top: 80px;
        display: none;
    }
}
@media only screen and (min-width: 545px) and (max-width: 550px) {
   
    .nailShape
{

    background-color: transparent;
}
#cosmetic_shape_image
{
    width: 100%;
    height: 350px;
}

    #cosmatics_container{
        height: 900px;
    
    
      }
      #particles_js {
        width: 100%;
        height: 100%;
        background-color: #242424;
        background-image: url(../img/normal_background.jpg);
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        height: 500px;
    }
    
    .image_change
    {
        position: relative;
        width: 200px;
        height: 200px;
        top: 60px;
        left: 80px;
    }
    .text {
        font-size: 5vw;
        text-align: center;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        position: absolute;
        margin-top: 12%;
        left: 40%;
        transform: translate(-50%, -80%);
    }
    .light_image
    {
    position: relative;
    left:65%;
    top: 50px;
    }


      #paragraph_cosmetics p {
        background-color: transparent;
        position: absolute;
        margin-left: 20%;
        margin-top: -60%;
        font-size: 10px;
        font-family: sans-serif;
        padding: 5%;
        width: 50%;
    }

    #button_cosmeticss {
        margin-top: -17%;
        margin-left: 48%;
        position: absolute;
        padding: 20px;
        width: 100px;
        height: 50px;
    }
    #automobiles_anchor {
        font-size: 7px;
        position: relative;
        top: -10px;
    }

    .tab 
    {

        margin-top: -38%;
        left: 25%;
        width: 52%;
        padding-top: 1.7%;

    }

    .hand {
        margin-right: 58%;
        margin-top: -22%;
        width: 74%;
    }

    .slider1 {
        left: 34.5%;
        height: 40px;
        width: 7.5%;
        margin-top: 17%;
    }

    .slider2 {
        left: 43%;
        height: 40px;
        width: 7.5%;
        margin-top: 17%;
    }

    .slider3 {
        left: 49.5%;
        height: 40px;
        width: 7.5%;
        margin-top: 17%;
        margin-left: 10px;
    }

    .slider4 {
        left: 56.2%;
        height: 40px;
        width: 7.5%;
        margin-top: 17%;
        margin-left: 20px;
    }
    #pointing_hand
    {
        position: absolute;
        left: 30%;
        top: 80px;
        display: none;
    }
}


@media only screen and (min-width: 551px) and (max-width: 600px) {
   
    .nailShape
{

    background-color: transparent;
}
#cosmetic_shape_image
{
    width: 100%;
    height: 350px;
}

#particles_js {
    width: 100%;
    height: 100%;
    background-color: #242424;
    background-image: url(../img/normal_background.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 500px;
}

.image_change
{
    position: relative;
    width: 200px;
    height: 200px;
    top: 60px;
    left: 100px;
}
.text {
    font-size: 5vw;
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    margin-top: 12%;
    left: 40%;
    transform: translate(-50%, -80%);
}
.light_image
{
position: relative;
left:65%;
top: 50px;
}


    #cosmatics_container
    {
        height: 900px;  
    }
      #paragraph_cosmetics p {
        background-color: transparent;
        position: absolute;
        margin-left: 22%;
        margin-top: -60%;
        font-size: 10px;
        font-family: sans-serif;
        padding: 5%;
        width: 50%;
    }

    #button_cosmeticss {
        margin-top: -17%;
        margin-left: 48%;
        position: absolute;
        padding: 20px;
        width: 100px;
        height: 50px;
    }
    #automobiles_anchor {
        font-size: 7px;
        position: relative;
        top: -10px;
    }

    .tab 
    {

        margin-top: -38%;
        left: 25%;
        width: 52%;
        padding-top: 1.7%;

    }

    .hand {
        margin-right: 58%;
        margin-top: -22%;
        width: 74%;
    }

    .slider1 {
        left: 34.5%;
        height: 40px;
        width: 7.5%;
        margin-top: 17%;
    }

    .slider2 {
        left: 43%;
        height: 40px;
        width: 7.5%;
        margin-top: 17%;
    }

    .slider3 {
        left: 49.5%;
        height: 40px;
        width: 7.5%;
        margin-top: 17%;
        margin-left: 10px;
    }

    .slider4 {
        left: 56.2%;
        height: 40px;
        width: 7.5%;
        margin-top: 17%;
        margin-left: 20px;
    }
    #pointing_hand
    {
        position: absolute;
        left: 30%;
        top: 80px;
        display: none;
    }
}



@media only screen and (min-width: 601px) and (max-width: 650px) 
{
    .nailShape
{

    background-color: transparent;
}
#cosmetic_shape_image
{
    width: 100%;
    height: 450px;
}

    #cosmatics_container
    {
        height: 1080px;  
    }
    #particles_js {
        width: 100%;
        height: 100%;
        background-color: #242424;
        background-image: url(../img/normal_background.jpg);
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        height: 500px;
    }

    .image_change
    {
        position: relative;
        width: 200px;
        height: 200px;
        top: 60px;
        left: 125px;
    }
    .text {
        font-size: 5vw;
        text-align: center;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        position: absolute;
        margin-top: 12%;
        left: 50%;
        transform: translate(-50%, -80%);
    }
    .light_image
  {
    position: relative;
    left:70%;
    top: 50px;
  }


      #paragraph_cosmetics p {
        background-color: transparent;
        position: absolute;
        margin-left: 20%;
        margin-top: -70%;
        font-size: 12px;
        font-family: sans-serif;
        padding: 5%;
        width: 50%;
    }

    #button_cosmeticss {
        margin-top: -17%;
        margin-left: 48%;
        position: absolute;
        padding: 20px;
        width: 100px;
        height: 50px;
    }
    #automobiles_anchor {
        font-size: 7px;
        position: relative;
        top: -10px;
    }

    .tab 
    {

        margin-top: -38%;
        left: 25%;
        width: 52%;
        padding-top: 1.7%;

    }

    .hand {
        margin-right: 58%;
        margin-top: -22%;
        width: 74%;
    }

    .slider1 {
        left: 34.5%;
        height: 40px;
        width: 7.5%;
        margin-top: 17%;
    }

    .slider2 {
        left: 43%;
        height: 40px;
        width: 7.5%;
        margin-top: 17%;
    }

    .slider3 {
        left: 49.5%;
        height: 40px;
        width: 7.5%;
        margin-top: 17%;
        margin-left: 10px;
    }

    .slider4 {
        left: 56.2%;
        height: 40px;
        width: 7.5%;
        margin-top: 17%;
        margin-left: 20px;
    }
    #pointing_hand
    {
        position: absolute;
        left: 30%;
        top: 80px;
        display: none;
    }
}

@media only screen and (min-width: 651px) and (max-width: 699px) 
{
    .nailShape
{

    background-color: transparent;
}
#cosmetic_shape_image
{
    width: 100%;
    height: 450px;
}

    #cosmatics_container{
        height: 1080px;
      }
      
      #particles_js {
        width: 100%;
        height: 100%;
        background-color: #242424;
        background-image: url(../img/normal_background.jpg);
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        height: 500px;
    }

    .image_change
    {
        position: relative;
        width: 200px;
        height: 200px;
        top: 60px;
        left: 150px;
    }
    .text {
        font-size: 5vw;
        text-align: center;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        position: absolute;
        margin-top: 12%;
        left: 50%;
        transform: translate(-50%, -80%);
    }
    .light_image
  {
    position: relative;
    left:75%;
    top: 50px;
  }


      #paragraph_cosmetics p {
        background-color: transparent;
        position: absolute;
        margin-left: 25%;
        margin-top: -60%;
        font-size: 12px;
        font-family: sans-serif;
        padding: 5%;
        width: 50%;
    }

    #button_cosmeticss
    {
        margin-top: -17%;
        margin-left: 48%;
        position: absolute;
        padding: 20px;    
    }

    .tab 
    {

        margin-top: -38%;
        left: 25%;
        width: 52%;
        padding-top: 1.7%;

    }

    .hand {
        margin-right: 58%;
        margin-top: -22%;
        width: 74%;
    }

    .slider1 {
        left: 34.5%;
        height: 40px;
        width: 7.5%;
        margin-top: 18%;
    }

    .slider2 {
        left: 43%;
        height: 40px;
        width: 7.5%;
        margin-top: 18%;
    }

    .slider3 {
        left: 49.5%;
        height: 40px;
        width: 7.5%;
        margin-top: 18%;
        margin-left: 10px;
    }

    .slider4 {
        left: 56.2%;
        height: 40px;
        width: 7.5%;
        margin-top: 18%;
        margin-left: 20px;
    }
    #pointing_hand
    {
        position: absolute;
        left: 30%;
        top: 80px;
        display: none;
    }
}


@media only screen and (min-width: 700px) and (max-width: 767px) {
   
.nailShape
{

    background-color: transparent;
}
#cosmetic_shape_image
{
    width: 100%;
    height: 450px;
}

    #cosmatics_container{
        height: 1080px;
    
    
      }


      .image_change
      {
          position: relative;
          width: 200px;
          height: 200px;
          top: 60px;
          left: 150px;
      }
      .text {
        font-size: 5vw;
        text-align: center;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        position: absolute;
        margin-top: 10%;
        left: 35%;
        transform: translate(-50%, -80%);
    }


      #paragraph_cosmetics p {
        background-color: transparent;
        position: absolute;
        margin-left: 25%;
        margin-top: -55%;
        font-size: 12px;
        font-family: sans-serif;
        padding: 5%;
        width: 50%;
    }

    #button_cosmeticss
    {
        margin-top: -17%;
        margin-left: 48%;
        position: absolute;
        padding: 20px;    
    }

    .tab 
    {

        margin-top: -38%;
        left: 25%;
        width: 52%;
        padding-top: 1.7%;

    }

    .hand {
        margin-right: 58%;
        margin-top: -22%;
        width: 74%;
    }

    .slider1 {
        left: 34.5%;
        height: 40px;
        width: 7.5%;
        margin-top: 18%;
    }

    .slider2 {
        left: 43%;
        height: 40px;
        width: 7.5%;
        margin-top: 18%;
    }

    .slider3 {
        left: 49.5%;
        height: 40px;
        width: 7.5%;
        margin-top: 18%;
        margin-left: 10px;
    }

    .slider4 {
        left: 56.2%;
        height: 40px;
        width: 7.5%;
        margin-top: 18%;
        margin-left: 20px;
    }
    #pointing_hand
    {
        position: absolute;
        left: 30%;
        top: 80px;
        display: none;
    }
}
